<div class="o-form">

  <div class="o-form__close  utl-inline-block">
    {{> atoms-menu-close }}
  </div>

  <div class="o-form__wrapper">

    <form class="o-form__field">
      <input class="o-form__field__input" type="text" name="search">
    </form>

    <div class="o-form__search  utl-inline-block">
      {{> atoms-search-link }}
    </div>

  </div>

</div>