<section class="m-obj-media  utl-inline-block  utl-txt-center">

  <div class="utl-z-index-n1">
    {{> atoms-img-362x188 }}
  </div>

  <div class="m-media__wrapper--3  glb-max-width-210  utl-pos-relative  utl-margin-auto">
    <h5 class="a-cmp-heading--5  utl-txt-uppercase">{{ media-test-section-heading.third }}</h5>
    <p class="a-cmp-paragraph--default">{{ media-test-section-paragraph.third }}</p>
  </div>

</section>