<div class="o-media__block__slider-enrichi  utl-clearfix">

  <div class="o-media__block__slider-enrichi__background"></div>

  <div class="o-media__block__slider-enrichi__link">{{> molecules-slider-link-fb }}</div>

  <div class="o-media__block__slider-enrichi__link  o-media__block__slider-enrichi__link--middle">{{> molecules-slider-link-twitter }}</div>

  <div class="o-media__block__slider-enrichi__link">{{> molecules-slider-link-mail }}</div>

</div>