<article class="o-media__enrichi-carousel-wrapper  utl-pos-relative">

  <div class="o-media__enrichi-carousel">
    <div class="utl-pos-relative">
      <div class="o-media__enrichi-img  o-media__enrichi-img--mobile">{{> atoms-img-640x330 }}</div>
      <div class="o-media__enrichi-img  o-media__enrichi-img--desktop">{{> atoms-img-664x358 }}</div>

      <div class="o-media__enrichi-txt">
        <p class="a-cmp-paragraph--article-header">{{ header-paragraph.article }}</p>
      </div>
    </div>

    <div class="utl-pos-relative">
      <div class="o-media__enrichi-img  o-media__enrichi-img--mobile">{{> atoms-img-640x330 }}</div>
      <div class="o-media__enrichi-img  o-media__enrichi-img--desktop">{{> atoms-img-664x358 }}</div>

      <div class="o-media__enrichi-txt">
        <p class="a-cmp-paragraph--article-header">{{ header-paragraph.article }}</p>
      </div>
    </div>

    <div class="utl-pos-relative">
      <div class="o-media__enrichi-img  o-media__enrichi-img--mobile">{{> atoms-img-640x330 }}</div>
      <div class="o-media__enrichi-img  o-media__enrichi-img--desktop">{{> atoms-img-664x358 }}</div>

      <div class="o-media__enrichi-txt">
        <p class="a-cmp-paragraph--article-header">{{ header-paragraph.article }}</p>
      </div>
    </div>

    <div class="utl-pos-relative">
      <div class="o-media__enrichi-img  o-media__enrichi-img--mobile">{{> atoms-img-640x330 }}</div>
      <div class="o-media__enrichi-img  o-media__enrichi-img--desktop">{{> atoms-img-664x358 }}</div>

      <div class="o-media__enrichi-txt">
        <p class="a-cmp-paragraph--article-header">{{ header-paragraph.article }}</p>
      </div>
    </div>

    <div class="utl-pos-relative">
      <div class="o-media__enrichi-img  o-media__enrichi-img--mobile">{{> atoms-img-640x330 }}</div>
      <div class="o-media__enrichi-img  o-media__enrichi-img--desktop">{{> atoms-img-664x358 }}</div>

      <div class="o-media__enrichi-txt">
        <p class="a-cmp-paragraph--article-header">{{ header-paragraph.article }}</p>
      </div>
    </div>

    <div class="utl-pos-relative">
      <div class="o-media__enrichi-img  o-media__enrichi-img--mobile">{{> atoms-img-640x330 }}</div>
      <div class="o-media__enrichi-img  o-media__enrichi-img--desktop">{{> atoms-img-664x358 }}</div>

      <div class="o-media__enrichi-txt">
        <p class="a-cmp-paragraph--article-header">{{ header-paragraph.article }}</p>
      </div>
    </div>

    <div class="utl-pos-relative">
      <div class="o-media__enrichi-img  o-media__enrichi-img--mobile">{{> atoms-img-640x330 }}</div>
      <div class="o-media__enrichi-img  o-media__enrichi-img--desktop">{{> atoms-img-664x358 }}</div>

      <div class="o-media__enrichi-txt">
        <p class="a-cmp-paragraph--article-header">{{ header-paragraph.article }}</p>
      </div>
    </div>

    <div class="utl-pos-relative">
      <div class="o-media__enrichi-img  o-media__enrichi-img--mobile">{{> atoms-img-640x330 }}</div>
      <div class="o-media__enrichi-img  o-media__enrichi-img--desktop">{{> atoms-img-664x358 }}</div>

      <div class="o-media__enrichi-txt">
        <p class="a-cmp-paragraph--article-header">{{ header-paragraph.article }}</p>
      </div>
    </div>
  </div>

  <div class="o-media__enrichi-carousel--small">
    <div class="o-media__block  utl-pos-relative">
      <div class="o-media__enrichi-img--small">{{> atoms-img-100x80 }}</div>
    </div>

    <div class="o-media__block  utl-pos-relative">
      <div class="o-media__enrichi-img--small">{{> atoms-img-100x80 }}</div>
    </div>

    <div class="o-media__block  utl-pos-relative">
      <div class="o-media__enrichi-img--small">{{> atoms-img-100x80 }}</div>
    </div>

    <div class="o-media__block  utl-pos-relative">
      <div class="o-media__enrichi-img--small">{{> atoms-img-100x80 }}</div>
    </div>

    <div class="o-media__block  utl-pos-relative">
      <div class="o-media__enrichi-img--small">{{> atoms-img-100x80 }}</div>
    </div>

    <div class="o-media__block  utl-pos-relative">
      <div class="o-media__enrichi-img--small">{{> atoms-img-100x80 }}</div>
    </div>

    <div class="o-media__block  utl-pos-relative">
      <div class="o-media__enrichi-img--small">{{> atoms-img-100x80 }}</div>
    </div>

    <div class="o-media__block  utl-pos-relative">
      <div class="o-media__enrichi-img--small">{{> atoms-img-100x80 }}</div>
    </div>
  </div>

  <div class="o-media__block  o-media__block-arrow-left  o-media__block-arrow-left--enrichi">
    {{> atoms-arrow-header-left }}
  </div>

  <div class="o-media__block  o-media__block-arrow-right  o-media__block-arrow-right--enrichi">
    {{> atoms-arrow-header-right }}
  </div>

  <div class="o-media__button-enrichi">
    <a href="#" onclick="return false;" class="a-cmp-button  a-cmp-button--hover  a-cmp-button--hover--bckgrnd-yellow  utl-txt-uppercase">Slideshow</a>
  </div>

</article>