<section class="m-obj-media  m-cmp-media-more-qa-mw185">

  <div class="m-obj-media  m-cmp-media-more-qa__img-mw185">
    {{> atoms-img-185x152 }}
  </div>

  <div class="m-obj-media  m-cmp-media-more-qa__txt-mw185">
    <h6 class="a-cmp-heading--6-more-qa--small">{{ media-section-heading.eighteen }}</h6>
  </div>

  <div class="m-cmp-media-more-qa-mw185__background"></div>

</section>