<article class="o-media  utl-clearfix">

	<div class="o-media__wrapper-1  utl-clearfix">

		<div class="o-media__block-latest-news  utl-clearfix">

			<div class="o-media__block-latest-news__1">
				{{> molecules-heading-latest-news }}
			</div>

			<div class="o-media__block  o-media__block-latest-news--float-left  o-media__block-latest-news__2">

				<div class="o-media__block  o-media__block-latest-news__2__section-1">
					{{> molecules-media-latest-news-img-320x262 }}
				</div>

				<div class="o-media__block  o-media__block-latest-news__2__section-2">
					{{> molecules-media-latest-news-img-320x262 }}
				</div>

			</div>

			<div class="o-media__block  o-media__block-latest-news--float-right  o-media__block-latest-news__3">
				{{> molecules-media-latest-news-img-578x473 }}
			</div>

			<div class="o-media__block  o-media__block-latest-news--float-left  o-media__block-latest-news__2  o-media__block-latest-news__2--margins  utl-clear-left">

				<div class="o-media__block  o-media__block-latest-news__2__section-1">
					{{> molecules-media-latest-news-img-320x262 }}
				</div>

				<div class="o-media__block  o-media__block-latest-news__2__section-2">
					{{> molecules-media-latest-news-img-320x262 }}
				</div>

			</div>

			<div class="o-media__block  o-media__block-latest-news--float-right  o-media__block-latest-news__2  o-media__block-latest-news__2--margins">

				<div class="o-media__block  o-media__block-latest-news__2__section-1">
					{{> molecules-media-latest-news-img-320x262 }}
				</div>

				<div class="o-media__block  o-media__block-latest-news__2__section-2">
					{{> molecules-media-latest-news-img-320x262 }}
				</div>

			</div>

			<div class="o-media__block  o-media__block-latest-news--float-left  o-media__block-latest-news__2  o-media__block-latest-news__2--margins">

				<div class="o-media__block  o-media__block-latest-news__2__section-1">
					{{> molecules-media-latest-news-img-320x262 }}
				</div>

				<div class="o-media__block  o-media__block-latest-news__2__section-2">
					{{> molecules-media-latest-news-img-320x262 }}
				</div>

			</div>

			<div class="o-media__block  o-media__block-latest-news--float-right  o-media__block-latest-news__2  o-media__block-latest-news__2--margins">

				<div class="o-media__block  o-media__block-latest-news__2__section-1">
					{{> molecules-media-latest-news-img-320x262 }}
				</div>

				<div class="o-media__block  o-media__block-latest-news__2__section-2">
					{{> molecules-media-latest-news-img-320x262 }}
				</div>

			</div>

		</div>

		<div class="o-list-latest-news">

			<div class="o-list-latest-news-1">

				<ul class="o-list-latest-news__ul  o-list-latest-news__ul-1">
					<li class="o-list-latest-news__ul-1__li"><div class="o-list-latest-news--background"><a href="#" onclick="return false;">1</a></div></li>
					<li class="o-list-latest-news__ul-1__li"><div class="o-list-latest-news--background"><a href="#" onclick="return false;">2</a></div></li>
					<li class="o-list-latest-news__ul-1__li"><div class="o-list-latest-news--background"><a href="#" onclick="return false;">3</a></div></li>
					<li class="o-list-latest-news__ul-1__li"><div class="o-list-latest-news--background"><a href="#" onclick="return false;">4</a></div></li>
					<li class="o-list-latest-news__ul-1__li"><div class="o-list-latest-news--background"><a href="#" onclick="return false;">5</a></div></li>
					<li class="o-list-latest-news__ul-1__li"><div class="o-list-latest-news--background"><a href="#" onclick="return false;">6</a></div></li>
					<li class="o-list-latest-news__ul-1__li"><div class="o-list-latest-news--background"><a href="#" onclick="return false;">7</a></div></li>
					<li class="o-list-latest-news__ul-1__li"><div class="o-list-latest-news--background"><a href="#" onclick="return false;">8</a></div></li>
					<li class="o-list-latest-news__ul-1__li"><div class="o-list-latest-news--background"><a href="#" onclick="return false;">9</a></div></li>
				</ul>

				<div class="o-list-latest-news__icon  utl-inline-block">

					<div class="o-list-latest-news--background  o-list-latest-news--background-1">
						<a href="#" onclick="return false;"><i class="material-icons">play_arrow</i></a>
					</div>

					<div class="o-list-latest-news--background">
						<a href="#" onclick="return false;"><i class="material-icons">fast_forward</i></a>
					</div>

				</div>

			</div>

			<div class="o-list-latest-news-2">

				<ul class="o-list-latest-news__ul  o-list-latest-news__ul-2">
					<li class="o-list-latest-news__ul-2__li"><a href="#" onclick="return false;">10</a></li>
					<li class="o-list-latest-news__ul-2__li"><a href="#" onclick="return false;">20</a></li>
					<li class="o-list-latest-news__ul-2__li"><a href="#" onclick="return false;">30</a></li>
					<li class="o-list-latest-news__ul-2__li"><a href="#" onclick="return false;">40</a></li>
					<li class="o-list-latest-news__ul-2__li"><a href="#" onclick="return false;">50</a></li>
					<li class="o-list-latest-news__ul-2__li"><a href="#" onclick="return false;">60</a></li>
				</ul>

			</div>

		</div>

	</div>

</article>