<article class="o-media  utl-clearfix">

	<div class="o-media__wrapper-1  utl-clearfix">

		<div class="o-media__block-latest-news  utl-clearfix">

			<div class="o-media__block-latest-news__1">
				{{> molecules-heading-latest-news }}
			</div>

			<div class="o-media__block  o-media__block-latest-news--float-left  o-media__block-latest-news__2">

				<div class="o-media__block  o-media__block-latest-news__2__section-1">
					{{> molecules-media-latest-news-img-320x262 }}
				</div>

				<div class="o-media__block  o-media__block-latest-news__2__section-2">
					{{> molecules-media-latest-news-img-320x262 }}
				</div>

			</div>

			<div class="o-media__block  o-media__block-latest-news--float-right  o-media__block-latest-news__3">
				{{> molecules-media-latest-news-img-578x473 }}
			</div>

			<div class="o-media__block  o-media__block-latest-news--float-left  o-media__block-latest-news__2  o-media__block-latest-news__2--margins  utl-clear-left">

				<div class="o-media__block  o-media__block-latest-news__2__section-1">
					{{> molecules-media-latest-news-img-320x262 }}
				</div>

				<div class="o-media__block  o-media__block-latest-news__2__section-2">
					{{> molecules-media-latest-news-img-320x262 }}
				</div>

			</div>

			<div class="o-media__block  o-media__block-latest-news--float-right  o-media__block-latest-news__2  o-media__block-latest-news__2--margins">

				<div class="o-media__block  o-media__block-latest-news__2__section-1">
					{{> molecules-media-latest-news-img-320x262 }}
				</div>

				<div class="o-media__block  o-media__block-latest-news__2__section-2">
					{{> molecules-media-latest-news-img-320x262 }}
				</div>

			</div>

			<div class="o-media__block  o-media__block-latest-news--float-left  o-media__block-latest-news__2  o-media__block-latest-news__2--margins">

				<div class="o-media__block  o-media__block-latest-news__2__section-1">
					{{> molecules-media-latest-news-img-320x262 }}
				</div>

				<div class="o-media__block  o-media__block-latest-news__2__section-2">
					{{> molecules-media-latest-news-img-320x262 }}
				</div>

			</div>

			<div class="o-media__block  o-media__block-latest-news--float-right  o-media__block-latest-news__2  o-media__block-latest-news__2--margins">

				<div class="o-media__block  o-media__block-latest-news__2__section-1">
					{{> molecules-media-latest-news-img-320x262 }}
				</div>

				<div class="o-media__block  o-media__block-latest-news__2__section-2">
					{{> molecules-media-latest-news-img-320x262 }}
				</div>

			</div>

		</div>

		<div class="o-list-latest-news">

			<div class="o-list-latest-news-1  utl-flexbox-center">

				<ul class="o-list-latest-news__ul  o-list-latest-news__ul-1">
					<li class="o-list-latest-news__ul-1__li"><a href="">1</a></li>
					<li class="o-list-latest-news__ul-1__li"><a href="">2</a></li>
					<li class="o-list-latest-news__ul-1__li"><a href="">3</a></li>
					<li class="o-list-latest-news__ul-1__li"><a href="">4</a></li>
					<li class="o-list-latest-news__ul-1__li"><a href="">5</a></li>
					<li class="o-list-latest-news__ul-1__li"><a href="">6</a></li>
					<li class="o-list-latest-news__ul-1__li"><a href="">7</a></li>
					<li class="o-list-latest-news__ul-1__li"><a href="">8</a></li>
					<li class="o-list-latest-news__ul-1__li"><a href="">9</a></li>
				</ul>

				<div class="o-list-latest-news__icon  utl-inline-block">
					<a href="">
						<div class="o-list-latest-news__icon-play  utl-inline-block"><i class="material-icons">play_arrow</i></div>
					</a>

					<a href="">
						<div class="o-list-latest-news__icon-fast-f  utl-inline-block"><i class="material-icons">fast_forward</i></div>
					</a>
				</div>

			</div>

			<div class="o-list-latest-news-2  utl-flexbox-center">

				<ul class="o-list-latest-news__ul  o-list-latest-news__ul-2">
					<li class="o-list-latest-news__ul-2__li"><a href="">10</a></li>
					<li class="o-list-latest-news__ul-2__li"><a href="">20</a></li>
					<li class="o-list-latest-news__ul-2__li"><a href="">30</a></li>
					<li class="o-list-latest-news__ul-2__li"><a href="">40</a></li>
					<li class="o-list-latest-news__ul-2__li"><a href="">50</a></li>
					<li class="o-list-latest-news__ul-2__li"><a href="">60</a></li>
				</ul>

			</div>

		</div>

	</div>

</article>