<article class="o-media  utl-pos-relative  utl-clearfix">

	<div class="o-media__block  o-media__block-renault-qa--background  o-media__block-renault-qa--background-mob"></div>

	<div class="o-media__wrapper-1  o-media__wrapper-1--renault-qa  utl-pos-relative  utl-clearfix">

		<div class="a-h-line  a-h-line--1"></div>
		<div class="a-h-line  a-h-line--2"></div>
		<div class="a-v-line  a-v-line--1"></div>

		<div class="o-media__block  o-media__block--renault-qa-wrapper-1  utl-pos-relative  utl-clearfix">

			<div class="o-media__block  o-media__block-renault-qa--background  o-media__block-renault-qa--background-tbl-dsk"></div>

			<div class="o-media__block-renault-qa__1">
				{{> molecules-heading-1-renault-qa }}
			</div>

			<div class="o-media__block-renault-qa-carousel">

				<div class="utl-pos-relative">
					<div class="o-media__block  o-media__block-renault-qa__2  m-obj-media__img--box-shadow-2">
						{{> atoms-img-490x410 }}
					</div>

					<div class="o-media__block  o-media__block-renault-qa__3">

						<h6 class="a-cmp-heading--5">{{ media-section-heading.seventeen }}</h6>
						<p class="a-cmp-paragraph  a-cmp-paragraph--default  m-obj-media__paragraph">{{ media-section-paragraph.second }}</p>

					</div>
				</div>

				<div class="utl-pos-relative">
					<div class="o-media__block  o-media__block-renault-qa__2  m-obj-media__img--box-shadow-2">
						{{> atoms-img-490x410 }}
					</div>

					<div class="o-media__block  o-media__block-renault-qa__3">

						<h6 class="a-cmp-heading--5">{{ media-section-heading.seventeen }}</h6>
						<p class="a-cmp-paragraph  a-cmp-paragraph--default  m-obj-media__paragraph">{{ media-section-paragraph.second }}</p>

					</div>
				</div>

				<div class="utl-pos-relative">
					<div class="o-media__block  o-media__block-renault-qa__2  m-obj-media__img--box-shadow-2">
						{{> atoms-img-490x410 }}
					</div>

					<div class="o-media__block  o-media__block-renault-qa__3">

						<h6 class="a-cmp-heading--5">{{ media-section-heading.seventeen }}</h6>
						<p class="a-cmp-paragraph  a-cmp-paragraph--default  m-obj-media__paragraph">{{ media-section-paragraph.second }}</p>

					</div>
				</div>

				<div class="utl-pos-relative">
					<div class="o-media__block  o-media__block-renault-qa__2  m-obj-media__img--box-shadow-2">
						{{> atoms-img-490x410 }}
					</div>

					<div class="o-media__block  o-media__block-renault-qa__3">

						<h6 class="a-cmp-heading--5">{{ media-section-heading.seventeen }}</h6>
						<p class="a-cmp-paragraph  a-cmp-paragraph--default  m-obj-media__paragraph">{{ media-section-paragraph.second }}</p>

					</div>
				</div>

				<div class="utl-pos-relative">
					<div class="o-media__block  o-media__block-renault-qa__2  m-obj-media__img--box-shadow-2">
						{{> atoms-img-490x410 }}
					</div>

					<div class="o-media__block  o-media__block-renault-qa__3">

						<h6 class="a-cmp-heading--5">{{ media-section-heading.seventeen }}</h6>
						<p class="a-cmp-paragraph  a-cmp-paragraph--default  m-obj-media__paragraph">{{ media-section-paragraph.second }}</p>

					</div>
				</div>

			</div>

			<div class="o-media__block  o-media__block-renault-qa__4">

				<div class="m-obj-media__counter  utl-pos-relative">
					<span><span class="m-obj-media__counter__caret"><div class="o-cmp-renault-qa__caret--left  utl-inline-block"> {{> atoms-caret-left }} </div></span><div class="m-obj-media  m-obj-media__counter--caret-background  m-obj-media__counter--caret-background-1"></div>
					<span class="utl-color-dark-yellow"> 01&nbsp;&nbsp;</span>/&nbsp;&nbsp;05 <span class="m-obj-media__counter__caret"><div class="o-cmp-renault-qa__caret--right  utl-inline-block"> {{> atoms-caret-right }} </div></span>
					<div class="m-obj-media  m-obj-media__counter--caret-background  m-obj-media__counter--caret-background-2"></div></span>
				</div>

			</div>

		</div>

		<div class="o-media__block  o-media__block--renault-qa-wrapper-2  utl-clearfix">

			<div class="o-media__block-renault-qa__5">
				{{> molecules-heading-2-renault-qa }}
			</div>

			<div class="o-media__block  o-media__block-renault-qa__6">
				<ul class="o-media__block-renault-qa__6__ul">
					<li class="o-media__block-renault-qa__6__ul__li"><a href="">{{ renault-qa-list.first }}</a></li>
					<li class="o-media__block-renault-qa__6__ul__li"><a href="">{{ renault-qa-list.second }}</a></li>
					<li class="o-media__block-renault-qa__6__ul__li"><a href="">{{ renault-qa-list.third }}</a></li>
					<li class="o-media__block-renault-qa__6__ul__li"><a href="">{{ renault-qa-list.fourth }}</a></li>
					<li class="o-media__block-renault-qa__6__ul__li"><a href="">{{ renault-qa-list.fifth }}</a></li>
					<li class="o-media__block-renault-qa__6__ul__li"><a href="">{{ renault-qa-list.sixth }}</a></li>
				</ul>
			</div>

		</div>

	</div>

</article>