<section class="o-media">

  <div class="o-media__wrapper-1">

    <div class="o-cmp-psytest-block-test  utl-clearfix">

      <div class="o-cmp-psytest-block-test__confirm">

        <div class="o-cmp-psytest-block-test__confirm__close">
          {{> molecules-test-close-button }}
        </div>

        <div class="o-cmp-psytest-block-test__confirm__button">
          <a href="" class="a-cmp-button  utl-txt-uppercase">Confirm</a>
        </div>

      </div>

      <div class="o-cmp-psytest-block-test__checkbox--img">
        <div class="o-cmp-psytest-block-test__checkbox--img__img"><img src="{{ img.img-153x191.src }}" alt=""></div>

        <div class="o-cmp-psytest-block-test__checkbox--img__radio-button">{{> molecules-test-radio-button }}</div>
      </div>

      <div class="o-cmp-psytest-block-test__question">
        <h4 class="o-cmp-psytest-block-test__question__heading">Lorem ipsum dolor sit amet ?</h4>

        <p class="o-cmp-psytest-block-test__question__txt">Cras luctus hendrerit neque lacinia scelerisque. Integer nulla turpis, mattis at libero et, vehicula congue augue.</p>
      </div>

    </div>

  </div>

</section>