<section class="m-obj-media">

	<div class="m-obj-media__img">
		{{> atoms-img-578x473 }}
		<div class="a-cmp-image-description  a-cmp-image-description--bottom-left-position  utl-txt-uppercase  utl-pos-absolute">{{ img-description.first }}</div>
	</div>

	<div class="m-obj-media__txt-5  a-cmp-media-w578">
		<h6 class="a-cmp-heading--6">{{ media-section-heading.fourteen }}</h6>
		<p class="a-cmp-paragraph  a-cmp-paragraph--default  m-obj-media__paragraph">{{ media-section-paragraph.second }}</p>
	</div>

</section>