<article class="o-media  utl-clearfix">

	<div class="o-media__wrapper-1  utl-clearfix">

		<div class="o-cmp-psytest-block-head">
			
			<div class="o-cmp-psytest-block-head__counter">
				<span class="o-cmp-psytest-block-head__counter__number">1</span>
				<span class="o-cmp-psytest-block-head__counter__slash">&sol;</span>
				<span class="o-cmp-psytest-block-head__counter__number">12</span>
			</div>

			<h3 class="o-cmp-psytest-block-head__heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit ?</h3>

		</div>

	</div>

</article>