<article class="o-media">

	<div class="o-media__wrapper-1">

		<div class="o-cmp-psytest-resultats  utl-pos-relative  utl-clearfix">
			
			<h2 class="o-cmp-psytest-resultats__heading">The Kangoo is for you!</h2>

			<div class="o-cmp-psytest-resultats__img"><img src="{{ img.img-615x455.src }}"></div>

			<div class="o-cmp-psytest-resultats__social">{{> organisms-social-slider }}</div>

			<p class="o-cmp-psytest-resultats__txt">Cras luctus hendrerit neque lacinia scelerisque. Integer nulla turpis, mattis at libero et, vehicula congue augue. Suspendisse id commodo tellus. Phasellus ac cursus elit, ac tincidunt nulla. Duis eget sapien sem. Fusce eu dolor sit amet nunc efficitur laoreet. Mauris interdum felis sit amet leo fringilla ullamcorper. Mauris enim turpis, condimentum in libero ac. Posuere pulvinar purus. Aenean at justo nibh. Curabitur scelerisque mauris mi, sed consectetur dui tempor et. Praesent molestie ex sed euismod dapibus. Nunc in suscipit ligula.</p>

			<div class="o-cmp-psytest-resultats__button">

				<div class="o-cmp-psytest-resultats__button__1  utl-txt-center">
					<div class="o-media__block  o-media__block--box-shadow-1">
						<a href="" class="a-cmp-button  utl-txt-uppercase">Discover the Kangoo</a>
					</div>
				</div>

				<div class="o-cmp-psytest-resultats__button__2  utl-txt-center">
					<div class="o-media__block  o-media__block--box-shadow-1">
						<a href="" class="a-cmp-button  utl-txt-uppercase">Restart</a>
					</div>
				</div>

			</div>

		</div>

	</div>

</article>