<section class="m-obj-media">

	<div class="m-obj-media__img">
		{{> atoms-img-320x262 }}
		<div class="a-cmp-image-description  a-cmp-image-description--bottom-left-position  utl-txt-uppercase  utl-pos-absolute">{{ img-description.second }}</div>
	</div>

	<div class="m-obj-media__txt  a-cmp-media-w320">
		<h6 class="a-cmp-heading--6">{{ media-section-heading.seventh }}</h6>
		<p class="a-cmp-paragraph  a-cmp-paragraph--default  m-obj-media__paragraph">{{ media-section-paragraph.first }}</p>
	</div>

</section>