<ul class="sg-colors">

	<li>
		<span class="sg-swatch" style="background: #f6f6f6;"></span>
		<span class="sg-label">
			$color-light-gray <br />
			#f6f6f6
		</span>
	</li>

	<li>
		<span class="sg-swatch" style="background: #505050;"></span>
		<span class="sg-label">
			$color-light-black <br />
			#505050
		</span>
	</li>

</ul>