<div class="t-cmp-nav">{{> organisms-nav }}</div>
<div class="t-cmp-shp-faq-header">{{> organisms-shp-faq-header }}</div>
<div class="t-cmp-article-qa-list">{{> organisms-article-qa-list }}</div>
<div class="t-cmp-shp-faq-article-test-quel-vehicule">{{> organisms-article-test-quel-vehicule }}</div>
<div class="t-cmp-shp-faq-article-les-plus-lus">{{> organisms-article-les-plus-lus }}</div>
<div class="t-cmp-shp-faq-footer">{{> organisms-footer }}</div>