<div class="t-cmp-nav">{{> organisms-nav }}</div>
<div class="t-cmp-article-resultats">{{> organisms-article-resultats-none }}</div>
<div class="t-cmp-resultats-article-test-quel-vehicule">{{> organisms-article-test-quel-vehicule }}</div>
<div class="t-cmp-resultats-article-les-plus-lus">{{> organisms-article-les-plus-lus }}</div>
<div class="t-cmp-resultats-footer">{{> organisms-footer }}</div>