<div class="t-cmp-nav">{{> organisms-nav }}</div>
<div class="t-cmp-article-tags-cgu-terms-404">{{> organisms-article-cgu }}</div>
<div class="t-cmp-tags-cgu-terms-404-footer">{{> organisms-footer }}</div>