<header class="o-media  utl-pos-relative">

	<div class="o-media__header-carousel">
		<div class="utl-pos-relative">
			<div class="m-obj-media__img">{{> atoms-img-1700x875 }}</div>

			<div class="o-media__block  o-media__block-hp-hdr-txt">
				{{> molecules-header-txt-1 }}
			</div>

			<div class="o-media__block-hp-hdr-ctr">
				<span class="utl-color-dark-yellow">01&nbsp;&nbsp;</span><span class="utl-color-white">/&nbsp;&nbsp;05</span>
			</div>
		</div>

		<div class="utl-pos-relative">
			<div class="m-obj-media__img">{{> atoms-img-1700x875 }}</div>

			<div class="o-media__block  o-media__block-hp-hdr-txt">
				{{> molecules-header-txt-2 }}
			</div>

			<div class="o-media__block-hp-hdr-ctr">
				<span class="utl-color-dark-yellow">02&nbsp;&nbsp;</span><span class="utl-color-white">/&nbsp;&nbsp;05</span>
			</div>
		</div>

		<div class="utl-pos-relative">
			<div class="m-obj-media__img">{{> atoms-img-1700x875 }}</div>

			<div class="o-media__block  o-media__block-hp-hdr-txt">
				{{> molecules-header-txt-3 }}
			</div>

			<div class="o-media__block-hp-hdr-ctr">
				<span class="utl-color-dark-yellow">03&nbsp;&nbsp;</span><span class="utl-color-white">/&nbsp;&nbsp;05</span>
			</div>
		</div>

		<div class="utl-pos-relative">
			<div class="m-obj-media__img">{{> atoms-img-1700x875 }}</div>

			<div class="o-media__block  o-media__block-hp-hdr-txt">
				{{> molecules-header-txt-4 }}
			</div>

			<div class="o-media__block-hp-hdr-ctr">
				<span class="utl-color-dark-yellow">04&nbsp;&nbsp;</span><span class="utl-color-white">/&nbsp;&nbsp;05</span>
			</div>
		</div>

		<div class="utl-pos-relative">
			<div class="m-obj-media__img">{{> atoms-img-1700x875 }}</div>

			<div class="o-media__block  o-media__block-hp-hdr-txt">
				{{> molecules-header-txt-5 }}
			</div>

			<div class="o-media__block-hp-hdr-ctr">
				<span class="utl-color-dark-yellow">05&nbsp;&nbsp;</span><span class="utl-color-white">/&nbsp;&nbsp;05</span>
			</div>
		</div>
	</div>

	<div class="o-media__block  o-media__block-arrow-left">
		{{> atoms-arrow-header-left }}
	</div>

	<div class="o-media__block  o-media__block-arrow-right">
		{{> atoms-arrow-header-right }}
	</div>

</header>