/*.glb-max-width-190 {
	max-width: 190px;
	width: 100%;
}

.glb-max-width-210 {
	max-width: 210px;
	width: 100%;
}

.glb-max-width-235 {
	max-width: 235px;
	width: 17.4%;
}

.glb-max-width-320 {
	max-width: 320px;
	width: 100%;
}

.glb-max-width-321 {
	max-width: 321px;
	width: 100%;
}

.glb-max-width-405 {
	max-width: 405px;
	width: 30%;
}

.glb-max-width-578 {
	max-width: 578px;
	width: 42.81%;
}

.glb-max-width-1180 {
	max-width: 1180px;
	width: 100%;
}

.glb-max-width-1260 {
	max-width: 1260px;
	width: 100%;
}*/