/*------------------------------------------
				> MARGINS-TOP <						
------------------------------------------*/

/*.glb-margin-top-n65 {
	margin-top: -$size-10*6.5;
}

.glb-margin-top-0 {
	margin-top: 0;
}

.glb-margin-top-20 {
	margin-top: $size-20;
}

.glb-margin-top-30 {
	margin-top: $size-30;
}

.glb-margin-top-40 {
	margin-top: $size-40;
}

.glb-margin-top-50 {
	margin-top: $size-10*5;
}

.glb-margin-top-60 {
	margin-top: $size-10*6;
}

.glb-margin-top-64 {
	margin-top: $size-10*6.4;
}

.glb-margin-top-75 {
	margin-top: $size-10*7.5;
}

.glb-margin-top-78 {
	margin-top: $size-78;
}

.glb-margin-top-96 {
	margin-top: $size-10*9.6;
}

.glb-margin-top-111 {
	margin-top: $size-10*11.1;
}

.glb-margin-top-152 {
	margin-top: $size-10*15.3;
}

.glb-margin-top-160 {
	margin-top: $size-40*4;
}

.glb-margin-top-212 {
	margin-top: $size-10*21.2;
}

.glb-margin-top-216 {
	margin-top: $size-10*21.6;
}


/*------------------------------------------
				> MARGINS-BOTTOM <						
------------------------------------------*/




/*------------------------------------------
				> MARGINS-LEFT <						
------------------------------------------*/

/*.glb-margin-left-22 {
	margin-left: $size-22;
}

.glb-margin-left-78 {
	margin-left: $size-78;
}

.glb-margin-left-95 {
	margin-left: $size-10*9.5;
}


/*------------------------------------------
				> MARGINS-RIGHT <						
------------------------------------------*/

/*.glb-margin-right-22 {
	margin-right: $size-22;
}*/