html {
	font : {
	    family: $font;
	    size: $font-size;
	    weight: $font-weight-400;
  	}
  	color: $color-black;

  	@include mq($until: desktop-1) {
		font-size: 0.8235vw;
	}

  	@include mq($until: tablet) {
		font-size: 1.82vw;
	}

  	@include mq($until: mobile) {
		font-size: 2.1875vw;
	}
}

img, iframe {
    display: block;
}

a {
	color: inherit;
}

[class*="fa fa-caret"] {
	transform: scale(1.7, 0.75);
}