<article class="o-media  utl-pos-relative">

  <div class="o-media__block  o-media__block-11--background  o-media__block-11--background-mob"></div>

  <div class="o-media__wrapper-1  utl-clearfix">

    <div class="o-media__block  o-media__block-11--background  o-media__block-11--background-tbl"></div>

    <div class="o-media__block  o-media__block-9">
      {{> molecules-heading-foire-aux-questions }}
    </div>

    <div class="o-media__block  o-media__block-10">
      {{> molecules-media-foire-aux-questions }}
    </div>

  </div>

</article>