<article class="o-media  utl-margin-auto">

  <div class="o-media__block">

    <hr class="o-media  o-media__hr">

    <div class="o-media__wrapper  glb-max-width-1260  glb-margin-top-78">
      {{> molecules-heading-foire-aux-questions }}

      <div class="o-media__wrapper  glb-margin-left-78  utl-float-left">
        {{> molecules-media-foire-aux-questions }}
      </div>

      <div class="o-media--background  o-media__wrapper--background  glb-max-height-395  glb-max-width-1260  utl-pos-absolute  utl-z-index-n1"></div>
    </div>

  </div>

</article>