<section class="m-obj-media  m-obj-media--cote-b">

  <div class="m-obj-media__img">

    <div class="m-media__block-cote-b-carousel">

      <div class="utl-pos-relative">
        <div class="m-obj-media__img">
          {{> atoms-img-664x634 }}
        </div>

        <div class="m-obj-media__txt-4">

          <h3><span class="a-cmp-heading--3b  utl-font-airways  utl-font-weight-400  utl-color-dark-yellow">Portrait</span></h3>

          <div class="m-obj-media__txt-4__heading">
            <h4 class="a-cmp-heading--4  utl-color-white">Ingrid et Estelle, créatrice du premier beauty van itinérant</h4>
          </div>

          <p class="a-cmp-paragraph  a-cmp-paragraph--default">{{ media-section-paragraph.first }}</p>

          <div class="m-obj-media__txt-4__button">
            <a href="" class="a-cmp-button  a-cmp-button--hover  a-cmp-button--hover--bckgrnd-yellow  utl-txt-uppercase">Découvrir</a>
          </div>

        </div>
      </div>

      <div class="utl-pos-relative">
        <div class="m-obj-media__img">
          {{> atoms-img-664x634 }}
        </div>

        <div class="m-obj-media__txt-4">

          <h3><span class="a-cmp-heading--3b  utl-font-airways  utl-font-weight-400  utl-color-dark-yellow">Portrait</span></h3>

          <div class="m-obj-media__txt-4__heading">
            <h4 class="a-cmp-heading--4  utl-color-white">Ingrid et Estelle, créatrice du premier beauty van itinérant</h4>
          </div>

          <p class="a-cmp-paragraph  a-cmp-paragraph--default">{{ media-section-paragraph.first }}</p>

          <div class="m-obj-media__txt-4__button">
            <a href="" class="a-cmp-button  a-cmp-button--hover  a-cmp-button--hover--bckgrnd-yellow  utl-txt-uppercase">Découvrir</a>
          </div>

        </div>
      </div>

      <div class="utl-pos-relative">
        <div class="m-obj-media__img">
          {{> atoms-img-664x634 }}
        </div>

        <div class="m-obj-media__txt-4">

          <h3><span class="a-cmp-heading--3b  utl-font-airways  utl-font-weight-400  utl-color-dark-yellow">Portrait</span></h3>

          <div class="m-obj-media__txt-4__heading">
            <h4 class="a-cmp-heading--4  utl-color-white">Ingrid et Estelle, créatrice du premier beauty van itinérant</h4>
          </div>

          <p class="a-cmp-paragraph  a-cmp-paragraph--default">{{ media-section-paragraph.first }}</p>

          <div class="m-obj-media__txt-4__button">
            <a href="" class="a-cmp-button  a-cmp-button--hover  a-cmp-button--hover--bckgrnd-yellow  utl-txt-uppercase">Découvrir</a>
          </div>

        </div>
      </div>

    </div>

    <div class="m-obj-media__counter-abs">
      <span class="utl-color-white"><div class="m-cmp-cote-b__caret--left  utl-inline-block"> {{> atoms-caret-left }} </div><span class="utl-color-dark-yellow">01&nbsp;&nbsp;</span>/&nbsp;&nbsp;03
      <div class="m-cmp-cote-b__caret--right  utl-inline-block">{{> atoms-caret-right }}</div>
      </span>
    </div>

  </div>

</section>