<section class="m-obj-media  glb-max-width-320  utl-float-left  utl-clearfix">

	<div class="m-obj-media__img">
		{{> atoms-img-320x262 }}
		<div class="a-cmp-image-description  a-cmp-image-description--bottom-left-position  utl-txt-uppercase  utl-pos-absolute">{{ img-description.first }}</div>
	</div>

	<div class="m-obj-media__txt">
		<h6 class="a-cmp-heading--6">{{ media-section-heading.twelfth }}</h6>
		<p class="a-cmp-paragraph  a-cmp-paragraph--default  m-obj-media__paragraph">{{ media-section-paragraph.first }}</p>
	</div>

</section>