<section class="m-obj-media  utl-float-left  utl-clearfix">

	<div class="m-obj-media__img">
		<div class="m-obj-media__img  utl-z-index-n1">
			{{> atoms-img-664x634 }}
		</div>
		<div class="m-media__wrapper  utl-pos-absolute">
			<div class="m-obj-media__heading  m-obj-media__heading--small  utl-float-left">
				<span class="utl-font-airways">Portrait</span>
			</div>
			<h4 class="a-cmp-heading--4  m-obj-media__heading--fix-2  m-obj-media__heading--white  glb-margin-top-20  utl-float-left  utl-clear-left">Ingrid et Estelle, créatrice du premier beauty van itinérant</h4>
			<p class="a-cmp-paragraph  a-cmp-paragraph--default  glb-max-width-190  glb-margin-top-20  utl-float-left  utl-clear-left">{{ media-section-paragraph.first }}</p>
			<div class="glb-margin-top-50  utl-float-left  utl-clear-left">
				<a href="" class="a-cmp-button  a-cmp-button--hover  a-cmp-button--hover--bckgrnd-yellow  utl-txt-uppercase">Découvrir</a>
			</div>
		</div>

		<div class="m-media__wrapper  m-media__wrapper--2  utl-pos-absolute">
			<span class="utl-color-white"> {{> atoms-caret-left }} <span class="utl-color-dark-yellow">01&nbsp;&nbsp;</span>/&nbsp;&nbsp;03 {{> atoms-caret-right }} </span>
		</div>
	</div>

</section>