<nav class="o-nav">

	<div class="o-nav__bar  utl-inline-block">
		{{> atoms-menu-bar }}
	</div>
	
	<div class="o-nav__bar--close  utl-inline-block">
		{{> atoms-menu-close }}
	</div>

	<div class="o-nav__logo  utl-inline-block">
		{{> atoms-logo }}
	</div>

	<div class="o-nav__search  utl-inline-block">
		{{> atoms-search-link }}
	</div>

</nav>