<div class="o-media  utl-pos-relative  utl-clearfix">

	<div class="o-cmp-search-form">{{> organisms-search }}</div>

	<nav class="o-nav">

		<div class="o-nav__bar  utl-inline-block">
			{{> atoms-menu-bar }}
		</div>
		
		<div class="o-nav__bar--close  utl-inline-block">
			{{> atoms-menu-close }}
		</div>

		<ul class="o-nav__list--tbl-mob  utl-clearfix">

			<li><a class="o-nav__list--tbl-mob__link  o-nav__list--tbl-mob__link--1st" href="#" onclick="return false;"><div class="o-nav__list--tbl-mob__caret--down">{{> atoms-caret-down }}</div><div class="o-nav__list--tbl-mob__caret--up">{{> atoms-caret-up }}</div>My business</a>

				<ul class="o-nav__list--tbl-mob__submenu  o-nav__list--tbl-mob__submenu--1st">
					<li><a class="o-nav__list--tbl-mob__submenu__link" href="..\..{{ link.pages-article }}">Start a business</a></li>
					<li><a class="o-nav__list--tbl-mob__submenu__link" href="..\..{{ link.pages-article }}">Finance</a></li>
					<li><a class="o-nav__list--tbl-mob__submenu__link" href="..\..{{ link.pages-article }}">Insurance</a></li>
					<li><a class="o-nav__list--tbl-mob__submenu__link" href="..\..{{ link.pages-terms }}">Legal</a></li>
					<li><a class="o-nav__list--tbl-mob__submenu__link" href="..\..{{ link.pages-shp }}">Communication</a></li>
				</ul>

			</li>
			<li><a class="o-nav__list--tbl-mob__link  o-nav__list--tbl-mob__link--2nd" href="#" onclick="return false;"><div class="o-nav__list--tbl-mob__caret--down">{{> atoms-caret-down }}</div><div class="o-nav__list--tbl-mob__caret--up">{{> atoms-caret-up }}</div>My van</a>

				<ul class="o-nav__list--tbl-mob__submenu  o-nav__list--tbl-mob__submenu--2nd">
					<li><a class="o-nav__list--tbl-mob__submenu__link" href="..\..{{ link.pages-article-diaporama }}">Choose my van</a></li>
					<li><a class="o-nav__list--tbl-mob__submenu__link" href="..\..{{ link.pages-article-faq }}">Customize my van</a></li>
					<li><a class="o-nav__list--tbl-mob__submenu__link" href="..\..{{ link.pages-article-faq }}">Finance my van</a></li>
					<li><a class="o-nav__list--tbl-mob__submenu__link" href="..\..{{ link.pages-cgu }}">Legal questions</a></li>
					<li><a class="o-nav__list--tbl-mob__submenu__link" href="..\..{{ link.pages-psy-test }}">Quiz</a></li>
				</ul>

			</li>
			<li><a class="o-nav__list--tbl-mob__link" href="..\..{{ link.pages-shp-faq }}"><div class="o-nav__list--tbl-mob__caret--down">{{> atoms-caret-down }}</div><div class="o-nav__list--tbl-mob__caret--up">{{> atoms-caret-up }}</div>Faq</a></li>

			<li><a class="o-nav__list--tbl-mob__link" href="#" onclick="return false;"><div class="o-nav__list--tbl-mob__caret--down">{{> atoms-caret-down }}</div><div class="o-nav__list--tbl-mob__caret--up">{{> atoms-caret-up }}</div>We, the vans driver</a></li>

			<li><a class="o-nav__list--tbl-mob__link" href="..\..{{ link.pages-live-news }}"><div class="o-nav__list--tbl-mob__caret--down">{{> atoms-caret-down }}</div><div class="o-nav__list--tbl-mob__caret--up">{{> atoms-caret-up }}</div>What's new</a></li>

			<li><a class="o-nav__list--tbl-mob__link" href="..\..{{ link.pages-article-video }}"><div class="o-nav__list--tbl-mob__caret--down">{{> atoms-caret-down }}</div><div class="o-nav__list--tbl-mob__caret--up">{{> atoms-caret-up }}</div>Videos</a></li>
			
			<div class="o-nav__list--tbl-mob__social">
				<div class="o-nav__list--tbl-mob__social__fb  utl-inline-block">
					{{> atoms-fb-link }}
				</div>

				<div class="o-nav__list--tbl-mob__social__yt  utl-inline-block">
					{{> atoms-youtube-link }}
				</div>
			</div>

		</ul>

		<div class="o-nav__fb--desktop  utl-inline-block">
			{{> atoms-fb-link }}
		</div>

		<div class="o-nav__yt--desktop  utl-inline-block">
			{{> atoms-youtube-link }}
		</div>

		<div class="o-nav__search  utl-inline-block">
			{{> atoms-search-link }}
		</div>

		<ul class="o-nav__list--desktop  utl-clearfix">
			<li class="o-nav__list--desktop__first-li-block"><a class="o-nav__list--desktop__link  o-nav__list--desktop__link--1st" href="#" onclick="return false;">My business</a>

				<ul class="o-nav__list--desktop__dd-menu  o-nav__list--desktop__dd-menu--1st  utl-clearfix">

					<div class="o-nav__list--desktop__dd-menu__block-1">
						<div class="o-nav__list--desktop__dd-menu__block-1-1">
							<li><a class="o-nav__list--desktop__dd-menu__block-1__link" href="..\..{{ link.pages-article }}">Start a business</a></li>
							<li><a class="o-nav__list--desktop__dd-menu__block-1__link" href="..\..{{ link.pages-article }}">Finance</a></li>
							<li><a class="o-nav__list--desktop__dd-menu__block-1__link" href="..\..{{ link.pages-article }}">Insurance</a></li>
						</div>

						<div class="a-cmp-vr--dd-menu  a-cmp-vr--dd-menu--v1"></div>

						<div class="o-nav__list--desktop__dd-menu__block-1-2">
							<li><a class="o-nav__list--desktop__dd-menu__block-1__link" href="..\..{{ link.pages-terms }}">Legal</a></li>
							<li><a class="o-nav__list--desktop__dd-menu__block-1__link" href="..\..{{ link.pages-shp }}">Communication</a></li>
							<li><a class="o-nav__list--desktop__dd-menu__block-1__link" href="#" onclick="return false;"></a></li>
						</div>
					</div>

					<div class="a-cmp-vr--dd-menu  a-cmp-vr--dd-menu--v2"></div>

					<div class="o-nav__list--desktop__dd-menu__block-2">
						<div class="o-nav__list--desktop__dd-menu__heading-1"><span class="o-nav__list--desktop__dd-menu__heading-1a">TOP</span>
						<span class="o-nav__list--desktop__dd-menu__heading-1b">&nbsp;articles</span></div>
						
						<div class="o-nav__list--desktop__dd-menu__block-2-1  utl-clearfix">
							<div class="o-nav__list--desktop__dd-menu__block-2-1-1">
								<li>
									<a class="o-nav__list--desktop__dd-menu__block-2__link" href="#" onclick="return false;">
										<img class="a-cmp-img--dd-menu" src="{{ img.dd-menu-img.src }}" alt="" />
										<p class="a-cmp-paragraph--dd-menu">{{ dd-menu-paragraph.first }}</p>
									</a>
								</li>

								<li>
									<a class="o-nav__list--desktop__dd-menu__block-2__link" href="#" onclick="return false;">
										<img class="a-cmp-img--dd-menu" src="{{ img.dd-menu-img.src }}" alt="" />
										<p class="a-cmp-paragraph--dd-menu">{{ dd-menu-paragraph.second }}</p>
									</a>
								</li>
							</div>

							<div class="o-nav__list--desktop__dd-menu__block-2-1-2">
								<li>
									<a class="o-nav__list--desktop__dd-menu__block-2__link" href="#" onclick="return false;">
										<img class="a-cmp-img--dd-menu" src="{{ img.dd-menu-img.src }}" alt="" />
										<p class="a-cmp-paragraph--dd-menu">{{ dd-menu-paragraph.first }}</p>
									</a>
								</li>

								<li>
									<a class="o-nav__list--desktop__dd-menu__block-2__link" href="#" onclick="return false;">
										<img class="a-cmp-img--dd-menu" src="{{ img.dd-menu-img.src }}" alt="" />
										<p class="a-cmp-paragraph--dd-menu">{{ dd-menu-paragraph.second }}</p>
									</a>
								</li>
							</div>
						</div>
					</div>

				</ul>

			</li>

			<li class="o-nav__list--desktop__first-li-block  o-nav__list--desktop__middle-li"><a class="o-nav__list--desktop__link  o-nav__list--desktop__link--2nd" href="#" onclick="return false;">My van</a>

				<ul class="o-nav__list--desktop__dd-menu  o-nav__list--desktop__dd-menu--2nd  utl-clearfix">

					<div class="o-nav__list--desktop__dd-menu__block-1">
						<div class="o-nav__list--desktop__dd-menu__block-1-1">
							<li><a class="o-nav__list--desktop__dd-menu__block-1__link" href="..\..{{ link.pages-article-diaporama }}">Choose my van</a></li>
							<li><a class="o-nav__list--desktop__dd-menu__block-1__link" href="..\..{{ link.pages-article-faq }}">Customize my van</a></li>
							<li><a class="o-nav__list--desktop__dd-menu__block-1__link" href="..\..{{ link.pages-article-faq }}">Finance my van</a></li>
						</div>

						<div class="a-cmp-vr--dd-menu  a-cmp-vr--dd-menu--v1"></div>

						<div class="o-nav__list--desktop__dd-menu__block-1-2">
							<li><a class="o-nav__list--desktop__dd-menu__block-1__link" href="..\..{{ link.pages-cgu }}">Legal questions</a></li>
							<li><a class="o-nav__list--desktop__dd-menu__block-1__link" href="..\..{{ link.pages-psy-test }}">Quiz</a></li>
							<li><a class="o-nav__list--desktop__dd-menu__block-1__link" href="#" onclick="return false;"></a></li>
						</div>
					</div>

					<div class="a-cmp-vr--dd-menu  a-cmp-vr--dd-menu--v2"></div>

					<div class="o-nav__list--desktop__dd-menu__block-2">
						<div class="o-nav__list--desktop__dd-menu__heading-1"><span class="o-nav__list--desktop__dd-menu__heading-1a">TOP</span>
						<span class="o-nav__list--desktop__dd-menu__heading-1b">&nbsp;articles</span></div>
						
						<div class="o-nav__list--desktop__dd-menu__block-2-1  utl-clearfix">
							<div class="o-nav__list--desktop__dd-menu__block-2-1-1">
								<li>
									<a class="o-nav__list--desktop__dd-menu__block-2__link" href="#" onclick="return false;">
										<img class="a-cmp-img--dd-menu" src="{{ img.dd-menu-img.src }}" alt="" />
										<p class="a-cmp-paragraph--dd-menu">{{ dd-menu-paragraph.first }}</p>
									</a>
								</li>

								<li>
									<a class="o-nav__list--desktop__dd-menu__block-2__link" href="#" onclick="return false;">
										<img class="a-cmp-img--dd-menu" src="{{ img.dd-menu-img.src }}" alt="" />
										<p class="a-cmp-paragraph--dd-menu">{{ dd-menu-paragraph.second }}</p>
									</a>
								</li>
							</div>

							<div class="o-nav__list--desktop__dd-menu__block-2-1-2">
								<li>
									<a class="o-nav__list--desktop__dd-menu__block-2__link" href="#" onclick="return false;">
										<img class="a-cmp-img--dd-menu" src="{{ img.dd-menu-img.src }}" alt="" />
										<p class="a-cmp-paragraph--dd-menu">{{ dd-menu-paragraph.first }}</p>
									</a>
								</li>

								<li>
									<a class="o-nav__list--desktop__dd-menu__block-2__link" href="#" onclick="return false;">
										<img class="a-cmp-img--dd-menu" src="{{ img.dd-menu-img.src }}" alt="" />
										<p class="a-cmp-paragraph--dd-menu">{{ dd-menu-paragraph.second }}</p>
									</a>
								</li>
							</div>
						</div>
					</div>

				</ul>

			</li>

			<li class="o-nav__list--desktop__first-li-block"><a class="o-nav__list--desktop__link" href="..\..{{ link.pages-shp-faq }}">Faq</a></li>
			<li class="o-nav__list--desktop__second-li-block"><a class="o-nav__list--desktop__link" href="..\..{{ link.pages-article-video }}">Videos</a></li>
			<li class="o-nav__list--desktop__second-li-block  o-nav__list--desktop__middle-li"><a class="o-nav__list--desktop__link" href="..\..{{ link.pages-live-news }}">What's new</a></li>
			<li class="o-nav__list--desktop__second-li-block"><a class="o-nav__list--desktop__link" href="#" onclick="return false;">We, the vans driver</a></li>
		</ul>

		<div class="o-nav__logo  utl-inline-block">
			{{> atoms-logo }}
		</div>

	</nav>

</div>