<article class="o-cmp-media-small-dsk">

	<div class="o-cmp-media-small-dsk__back-image">
		<img src="{{ img.img-405x490.src }}" alt="" />
	</div>
	
	<div class="o-cmp-media-small-dsk__txt">

		<div class="o-cmp-media-small-dsk__txt__heading">
			{{> molecules-heading-test-quel-vehicule }}
		</div>

		<div class="o-cmp-media-small-dsk__txt__paragraph">
			<p class="a-cmp-paragraph--test  a-cmp-paragraph--default  m-obj-media__paragraph">{{ media-section-paragraph.first }}</p>
		</div>

		<div class="o-cmp-media-small-dsk__txt__button">
			<a href="" class="a-cmp-button  a-cmp-button--font-2  a-cmp-button--hover  utl-txt-uppercase">Commencer le test</a>
		</div>

	</div>

	<div class="o-cmp-media-small-dsk__image-list">

		<div class="o-cmp-media-small-dsk__image-list__block">
			
			{{> atoms-img-362x155 }}

			<div class="o-cmp-media-small-dsk__image-list__block__txt">
				<h5 class="a-cmp-heading--5a  utl-txt-uppercase">{{ media-test-section-heading.first }}</h5>
			</div>

		</div>

		<div class="o-cmp-media-small-dsk__image-list__block">
			
			{{> atoms-img-352x165 }}

			<div class="o-cmp-media-small-dsk__image-list__block__txt">
				<h5 class="a-cmp-heading--5a  utl-txt-uppercase">{{ media-test-section-heading.second }}</h5>
			</div>
			
		</div>

		<div class="o-cmp-media-small-dsk__image-list__block">
			
			{{> atoms-img-362x188 }}

			<div class="o-cmp-media-small-dsk__image-list__block__txt">
				<h5 class="a-cmp-heading--5a  utl-txt-uppercase">{{ media-test-section-heading.third }}</h5>
			</div>
			
		</div>

	</div>

</article>