<article class="o-media  utl-pos-relative">

	<div class="o-media--background-lpl"></div>

	<div class="o-media__wrapper-1  utl-clearfix">

		<div class="o-media__block  o-media__block-cmn-3">
			{{> molecules-heading-les-plus-lus }}
		</div>

		<div class="o-media__block  o-media__block-arrow--lpl  o-media__block-arrow--lpl__left">{{> atoms-arrow-section-left }}</div>

		<div class="o-media__block-lpl-carousel">
			
			<div class="o-media__block  o-media__block-cmn-4  utl-float-left">
				{{> molecules-media-les-plus-lus-img-235x192-1st }}
			</div>

			<div class="o-media__block  o-media__block-cmn-4  utl-float-right">
				{{> molecules-media-les-plus-lus-img-235x192-2nd }}
			</div>

			<div class="o-media__block  o-media__block-cmn-4  utl-float-left">
				{{> molecules-media-les-plus-lus-img-235x192-3rd }}
			</div>

			<div class="o-media__block  o-media__block-cmn-4  utl-float-right">
				{{> molecules-media-les-plus-lus-img-235x192-4th }}
			</div>

			<div class="o-media__block  o-media__block-cmn-4  utl-float-left">
				{{> molecules-media-les-plus-lus-img-235x192-1st }}
			</div>

			<div class="o-media__block  o-media__block-cmn-4  utl-float-right">
				{{> molecules-media-les-plus-lus-img-235x192-2nd }}
			</div>

			<div class="o-media__block  o-media__block-cmn-4  utl-float-left">
				{{> molecules-media-les-plus-lus-img-235x192-3rd }}
			</div>

			<div class="o-media__block  o-media__block-cmn-4  utl-float-right">
				{{> molecules-media-les-plus-lus-img-235x192-4th }}
			</div>

		</div>

		<div class="o-media__block  o-media__block-arrow--lpl  o-media__block-arrow--lpl__right">{{> atoms-arrow-section-right }}</div>

	</div>

</article>