<footer class="o-footer">

	<div class="o-footer__logo">{{> atoms-footer-logo }}</div>

	<div class="o-footer__txt">
		<a href=""><span class="a-cmp-paragraph--small  utl-txt-uppercase">cgu</span></a>
		<a href=""><span class="a-cmp-paragraph--small  utl-txt-uppercase">mentions légales</span></a>
	</div>

</footer>