<section class="m-obj-media">

	<div class="m-obj-media__img">
		{{> atoms-img-235x192 }}
	</div>

	<div class="m-obj-media__txt  a-cmp-media-w235--x192">
		<p class="a-cmp-paragraph--l-plus-l  a-cmp-paragraph--default  m-obj-media__paragraph-lpl">{{ media-l-plus-l-section-paragraph.second }}</p>
	</div>

</section>