.o-media__block {
	display: inline-block;
}

.o-media__block--box-shadow-1 {
	-webkit-box-shadow: 0px 10px 50px -10px rgba(126,126,126,1);
	-moz-box-shadow: 0px 10px 50px -10px rgba(126,126,126,1);
	box-shadow: 0px 10px 50px -10px rgba(126,126,126,1);
}

/*------------------------------------------
	> ORGANISMS - media-block related <						
------------------------------------------*/

@import "scss/02_organisms/o-media-hp-header";
@import "scss/02_organisms/o-media-shp-header";
@import "scss/02_organisms/o-media-article-all-header";
@import "scss/02_organisms/o-media-article";
@import "scss/02_organisms/o-media-block-social-slider";
@import "scss/02_organisms/o-media-block-test-quel-vehicule";
@import "scss/02_organisms/o-media-block-test-quel-vehicule-small-desktop";
@import "scss/02_organisms/o-media-block-les-plus-lus";
@import "scss/02_organisms/o-media-block-article-lies";
@import "scss/02_organisms/o-media-block-news-de-la-semaine";
@import "scss/02_organisms/o-media-block-fan-de-vu";
@import "scss/02_organisms/o-media-block-vu-and-astuces";
@import "scss/02_organisms/o-media-block-foire-aux-questions";
@import "scss/02_organisms/o-media-block-cote-business";
@import "scss/02_organisms/o-media-block-editors-picks";
@import "scss/02_organisms/o-media-block-latest-news";
@import "scss/02_organisms/o-media-block-renault-qa";
@import "scss/02_organisms/o-media-block-qa-list";