.o-cmp-psytest-block-head {

	@include mq($until: tablet) {
    }

    @include mq($until: mobile) {
    }
}

.o-cmp-psytest-block-head {
	font : {
		size: $size-30;
		weight: $font-weight-900;
	}
	width: 54.3rem;

	@include mq($until: tablet) {
		width: 40rem;
    }

    @include mq($until: mobile) {
    }
}

.o-cmp-psytest-block-head__counter {
	margin-top: 5%;
    line-height: 0;

	@include mq($until: tablet) {
    }

    @include mq($until: mobile) {
	    letter-spacing: $size-10*0.1;
    }
}

.o-cmp-psytest-block-head__counter__slash {
	color: $color-dark-yellow;
	font-size: $size-50;

	@include mq($until: tablet) {
    }

    @include mq($until: mobile) {
    }
}

.o-cmp-psytest-block-head__counter__number {
	vertical-align: top;

	@include mq($until: tablet) {
    }

    @include mq($until: mobile) {
    }
}

.o-cmp-psytest-block-head__heading {

	@include mq($until: tablet) {
    }

    @include mq($until: mobile) {
    	font-size: $size-40;
    	margin-top: 9.5%;
	    letter-spacing: $size-10*0.27;
	    line-height: 1.1;
    }
}