.o-media__wrapper-1 {
	margin: 0 10.295%;

	@include mq($until: tablet) {
		margin: 0 7.7935%;
	}

	@include mq($until: mobile) {
		margin: 0 6.2%;
	}
}

.o-media__wrapper-2 {
	margin: 0 6.4%;

	@include mq($until: tablet) {
		margin: 0 6.5%;
	}

	@include mq($until: mobile) {
		margin: 0 6.25%;
	}
}