.o-media {
	max-width: 1700px;
	width: 100%;
	margin: auto;

	@include mq($until: tablet) {
		max-width: 1024px;
	}

	@include mq($until: mobile) {
		max-width: 640px;
	}
}

.o-media--background {
	background-color: $color-light-gray;
	margin: 0 10.295%;
	padding-bottom: 8%;

	@include mq($until: tablet) {
		margin: 0 7.8%;
		padding-bottom: 10%;
	}
	
	@include mq($until: mobile) {
		margin: 0;
		padding-bottom: 23.75%;
	}
}

.o-media--no-background {
	margin: 0 10.295%;

	@include mq($until: tablet) {
		margin: 0 7.8%;
	}
	
	@include mq($until: mobile) {
		margin: auto;
	}
}