.o-media__block-cmn-1 {
	margin-top: 6.8%;
    margin-left: 17.2%;

	@include mq($until: tablet) {
		margin-top: 6%;
    	margin-left: 35.3%;
	}
	
	@include mq($until: mobile) {
		margin-top: 11.7%;
		margin-left: 0;
	}
}

.o-media__block-cmn-1-1 {
	z-index: -1;
	position: absolute;
	top: 0;
    left: 0;
    margin-left: 10.295%;
    margin-right: 10.295%;

    @include mq($until: tablet) {
		margin-left: 7.8%;
		margin-right: 7.8%;
	}

	@include mq($until: mobile) {
		margin-left: 0;
		margin-right: 0;
	}

	.o-media__block-cmn-1-1--desktop-img {
		display: inherit;

		@include mq($until: mobile) {
			display: none;
		}
	}

	.o-media__block-cmn-1-1--mobile-img {
		display: none;

		@include mq($until: mobile) {
			display: inherit;
		}
	}
}

.o-media__block-cmn-1-3 {
	color: $color-black;
	margin: -0.8% auto 0 auto;
	padding-left: 5%;
	width: 42%;
    line-height: $size-18;
    letter-spacing: $size-10*0.1;

    @include mq($until: mobile) {
    	padding-left: 0;
		width: 71%;
	    line-height: $size-32;
	    letter-spacing: 0;
	    margin-top: 2.2%;
	}
}

.o-media__block-cmn-1-4 {
	margin-top: 2.8%;
	padding-right: 10.5%;
	letter-spacing: $size-10*0.1;

	@include mq($until: tablet) {
		margin-top: 7%;
		padding-right: 0;
		letter-spacing: 0;
	}
	
	@include mq($until: mobile) {
		margin-top: 4.5%;
		margin-bottom: 3.5%;
	}
}

.o-media__block-cmn-2 {
	display: flex;
	justify-content: space-around;
	margin-top: 3.5%;

	@include mq($until: tablet) {
		margin-top: 4.5%;
	}

	@include mq($until: mobile) {
		display: none;
	}
}

.o-media__block-cmn-2-1 {
	align-self: flex-end;
	max-width: 26.82%;
	margin-bottom: 1.25%;
	margin-left: -2%;

	@include mq($until: tablet) {
		max-width: 26.93%;
		margin-bottom: 0;
		margin-left: 0;
	}
}

.o-media__block-cmn-2-2 {
	align-self: flex-end;
	max-width: 26.08%;
	margin-bottom: 1.25%;

	@include mq($until: tablet) {
		max-width: 25.85%;
		margin-bottom: 0;
	}
}

.o-media__block-cmn-2-3 {
	max-width: 26.82%;

	@include mq($until: tablet) {
		max-width: 26.62%;
	}
}