.o-media__block-more-qa {

	img {
		-webkit-box-shadow: 0px 35px 60px -25px rgba(126,126,126,1);
		-moz-box-shadow: 0px 35px 60px -25px rgba(126,126,126,1);
		box-shadow: 0px 35px 60px -25px rgba(126,126,126,1);
	}
}

.o-media__block-more-qa__heading {
	float: left;
	margin-top: 10.5%;
    margin-left: 2.8%;
    line-height: 1.05;

	@include mq($until: tablet) {
		margin-top: 14.9%;
    	margin-left: 0;
    }

    @include mq($until: mobile) {
    	float: none;
    	margin-top: 0;
    	line-height: 0.9;
    }
}

.o-media__block-more-qa--wrapper-main {
	float: right;
	max-width: 84.286rem;
	width: 100%;

	@include mq($until: tablet) {
	    max-width: 40.43rem;
    }

    @include mq($until: mobile) {
    	float: none;
	    max-width: 40rem;
    }
}

.o-media__block-more-qa--wrapper-1 {
	float: left;
	max-width: 59.57rem;
	width: 100%;

	@include mq($until: tablet) {
		float: none;
		max-width: 100%;
    }

    @include mq($until: mobile) {
    }
}

.o-media__block-more-qa--wrapper-1-1 {
	float: right;
	max-width: 47.143rem;
	width: 100%;

	@include mq($until: tablet) {
		float: none;
		max-width: 100%;
    }

    @include mq($until: mobile) {
    }
}

.o-media__block-more-qa--wrapper-2 {
	float: right;
	margin-top: 10.9%;
	max-width: 22.858rem;
	width: 100%;

	@include mq($until: tablet) {
		float: none;
		margin-top: 0;
		max-width: 100%;
    }

    @include mq($until: mobile) {
    }
}

.o-media__block-more-qa__1 {
	margin-bottom: 11.3%;
	max-width: 59.57rem;
	width: 100%;

	@include mq($until: tablet) {
		margin-bottom: 13%;
		max-width: 40.43rem;
    }

    @include mq($until: mobile) {
    	margin-top: 11.1%;
    	margin-bottom: 17.5%;
    	max-width: 40rem;
    }
}

.o-media__block-more-qa__2 {
	max-width: 22.86rem;
	width: 100%;

	@include mq($until: tablet) {
		margin-top: 6.35%;
		max-width: 19.86rem;
    }

    @include mq($until: mobile) {
    	margin-top: 10%;
    	max-width: 40rem;
    }
}

.o-media__block-more-qa__2-1 {
	float: left;

	@include mq($until: tablet) {
		margin-top: 0;
    }

    @include mq($until: mobile) {
    	float: none;
    }
}

.o-media__block-more-qa__2-2 {
	float: right;

	@include mq($until: tablet) {
		margin-top: 0;
    }

    @include mq($until: mobile) {
    	float: none;
    	margin-top: 10%;
    }
}

.o-media__block-more-qa__2-3 {
	float: left;
	margin-top: 7.9%;

	@include mq($until: tablet) {
		margin-top: 6.35%;
    }

    @include mq($until: mobile) {
    	float: none;
    	margin-top: 10%;
    }
}

.o-media__block-more-qa__2-4 {
	float: right;
	margin-top: 7.9%;

	@include mq($until: tablet) {
		margin-top: 6.35%;
    }

    @include mq($until: mobile) {
    	float: none;
    	margin-top: 10%;
    }
}

.o-media__block-more-qa__2-5 {

	@include mq($until: tablet) {
		float: left;
    }

    @include mq($until: mobile) {
    	float: none;
    }
}

.o-media__block-more-qa__2-6 {
	margin-top: 16%;

	@include mq($until: tablet) {
		float: right;
		margin-top: 6.35%;
    }

    @include mq($until: mobile) {
    	float: none;
    	margin-top: 10%;
    }
}

.o-media__block-more-qa__2-7 {
	margin-top: 16%;

	@include mq($until: tablet) {
		float: left;
		margin-top: 6.35%;
    }

    @include mq($until: mobile) {
    	float: none;
    	margin-top: 10%;
    }
}

.o-media__block-more-qa__2-8 {
	margin-top: 16%;

	@include mq($until: tablet) {
		float: right;
		margin-top: 6.35%;
    }

    @include mq($until: mobile) {
    	float: none;
    	margin-top: 10%;
    }
}

.o-media__block-more-qa__2-9 {
	margin-top: 16%;

	@include mq($until: tablet) {
		float: left;
		margin-top: 6.35%;
    }

    @include mq($until: mobile) {
    	float: none;
    	margin-top: 10%;
    }
}