.o-media__block-latest-news--float-left {
	float: left;

	@include mq($until: mobile) {
		float: none;
	}
}

.o-media__block-latest-news--float-right {
	float: right;

	@include mq($until: mobile) {
		float: none;
	}
}

.o-media__block-latest-news__1 {
	word-break: break-word;
	width: 7%;
    margin-top: 9.77%;
    margin-bottom: 3%;
    letter-spacing: -$size-10*0.05;
	line-height: 1;

	@include mq($until: tablet) {
		width: 9%;
    	letter-spacing: -$size-10*0.1;
	}

	@include mq($until: mobile) {
		width: 100%;
		margin-top: 0;
		margin-bottom: 5.7%;
		letter-spacing: -$size-10*0.05;
		line-height: inherit;
	}
}

.o-media__block-latest-news__2 {
	width: 49.08%;
	letter-spacing: $size-10*0.12;
    line-height: 1.4;

	@include mq($until: tablet) {
		width: 49.08%;
		letter-spacing: $size-10*0.075;
    	line-height: 1.3;
	}

	@include mq($until: mobile) {
		width: 100%;
		letter-spacing: $size-10*0.17;
		line-height: inherit;
	}
}

.o-media__block-latest-news__2--margins {
	margin-top: 5.3%;
    margin-bottom: 0.65%;

	@include mq($until: tablet) {
		margin-top: 2.8%;
    	margin-bottom: 1%;
	}

	@include mq($until: mobile) {
		margin-top: 6.8%;
    	margin-bottom: 1.1%;
	}
}

.o-media__block-latest-news__2__section-1 {
	float: left;
	width: 48.3%;

	@include mq($until: tablet) {
		width: 48.28%;
	}

	@include mq($until: mobile) {
		width: 48.6%;
	}
}

.o-media__block-latest-news__2__section-2 {
	float: right;
	width: 48.3%;

	@include mq($until: tablet) {
		width: 48.28%;
	}

	@include mq($until: mobile) {
		width: 48.6%;
	}
}

.o-media__block-latest-news__3 {
	width: 42.815%;
	margin-top: -15.68%;
	margin-right: 6.3%;
	letter-spacing: $size-10*0.12;
    line-height: 1.4;

	@include mq($until: tablet) {
		width: 42.925%;
		letter-spacing: $size-10*0.075;
    	line-height: 1.3;
	}

	@include mq($until: mobile) {
		width: 100%;
		margin-top: 9%;
		margin-right: 0;
		letter-spacing: $size-10*0.17;
		line-height: inherit;
	}
}

.o-list-latest-news {
	margin-top: 5.3%;

	@include mq($until: tablet) {
		margin-top: 7.9%;
	}

	@include mq($until: mobile) {
		margin-top: 18.5%;
	}
}

.o-list-latest-news-2 {
	margin-top: 0.2%;
    margin-left: 39.5%;

	@include mq($until: tablet) {
   		margin-left: 29.9%;
	}

	@include mq($until: mobile) {
		margin-top: 9%;
   		margin-left: 6.8%;
		letter-spacing: $size-10*0.1;
	}
}

.o-list-latest-news__ul {
	display: inline-block;
	list-style-type: none;

	li {
		position: relative;
		display: inline-block;
    	vertical-align: middle;
    	font-size: $size-10*1.9;
	}

	a {
		display: inline-block;
		margin-top: $size-12;
	}

	@include mq($until: tablet) {

		a {
			margin-top: $size-12;
		}

		li {
			font-size: $size-20;
		}
	}

	@include mq($until: mobile) {

		a {
			margin-top: $size-18;
		}

		li {
			font-size: $size-32;
		}
	}
}

.o-list-latest-news__ul-1 {
	margin-left: 36%;
    margin-right: 2.3%;

	@include mq($until: tablet) {
		margin-left: 22.5%;
    	margin-right: 4.5%;
	}

	@include mq($until: mobile) {
		margin-left: -1%;
    	margin-right: 6%;
	}
}

.o-list-latest-news__ul-1__li {
	$elements-latest-news_ul-1_li: 10;

	margin: 0 -$size-10*0.55;

	@include mq($until: tablet) {
		margin: 0 -$size-10*0.71;
	}

	@include mq($until: mobile) {

		margin: 0 $size-12;

		@for $i from 4 to $elements-latest-news_ul-1_li {
			&:nth-child(#{$i}) {
				display: none;
			}
		}

	}
}

.o-list-latest-news__ul-2__li {
	margin: 0 $size-10*1.5;

	&:nth-child(1) {
		display: none;
	}

	@include mq($until: tablet) {
		margin: 0 $size-10*1.25;
	}

	@include mq($until: mobile) {

		margin: 0 $size-40;

		&:nth-child(6) {
			display: none;
		}

	}
}

.o-list-latest-news__icon {

	a {
		display: inline-block;
		margin-top: $size-16;
	}

	i {
		vertical-align: middle;
		font-size: $size-18;
	}

	@include mq($until: mobile) {

		a {
			margin-top: $size-26;
		}

		i {
			font-size: $size-28;
		}
	}
}

.o-list-latest-news--background {
	display: inline-block;
	border-radius: 50%;
	width: $size-50;
	height: $size-50;
	background-color: transparent;
	text-align: center;

	&:hover {
		background-color: $color-light-gray;
	}

	@include mq($until: mobile) {
		width: $size-78;
		height: $size-78;
	}
}

.o-list-latest-news--background-1 {
	margin-right: $size-16;

	@include mq($until: tablet) {
		margin-right: $size-12;
	}

	@include mq($until: mobile) {
		margin-right: $size-26;
	}
}