.o-media__block-9 {
	float: left;

	@include mq($until: mobile) {
		float: none;
	}
}

.o-media__block-10 {
	width: 81%;
	float: right;

	@include mq($until: mobile) {
		width: auto;
		float: none;
		margin-top: $size-36;
	}
}

.o-media__block-11--background {
	z-index: -1;
	background-color: $color-light-gray;
}

.o-media__block-11--background-mob {
	position: absolute;
	display: none;

	@include mq($until: mobile) {
		display: block;
		width: 100%;
		padding-top: 81%;
		bottom: -3.5%;
	}
}

.o-media__block-11--background-tbl {
	position: absolute;
	width: 74.12%;
	padding-top: 22.5%;
	bottom: -15%;

	@include mq($until: tablet) {
		width: 84.4%;
		padding-top: 28%;
		bottom: -7%;
	}

	@include mq($until: mobile) {
		display: none;
	}
}