.o-media--background-lpl {
	background-color: $color-light-gray;
	z-index: -1;
	position: absolute;
	width: 100%;
	top: 22%;
	padding-top: 18.7%;

	@include mq($until: tablet) {
		top: 17%;
		padding-top: 23.7%;
	}
	
	@include mq($until: mobile) {
		top: 0;
	    padding-top: 100%;
    	height: 106.5%;
	}
}

.o-media__block-cmn-3 {
	vertical-align: top;
    overflow-wrap: break-word;
	width: 9.4%;
    margin-top: 9.3%;
    margin-left: 0.3%;
    letter-spacing: $size-10*0.1;
	line-height: 1;

	@include mq($until: tablet) {
		width: 11.5%;
		margin-top: 8.5%;
		margin-left: 0;
		letter-spacing: inherit;
	}
	
	@include mq($until: mobile) {
		width: auto;
		margin-top: 8%;
		margin-bottom: -4%;
		margin-left: 1%;
    	letter-spacing: $size-10*0.1;
	}
}

.o-media__block-lpl-carousel {
	display: inline-block;
	width: 73.572rem;

	@include mq($until: tablet) {
		width: 35.3rem;
	}

	@include mq($until: mobile) {
		width: auto;
	}
}

.o-media__block-cmn-4 {
	
	@include mq($until: mobile) {
		width: 48.66%;
		margin-top: 15%;
		margin-right: 0;
	}
}

.o-media__block-arrow--lpl {
	vertical-align: top;
	width: 4.16%;
	margin-top: 10.4%;

	@include mq($until: tablet) {
		width: 4.16%;
		margin-top: 10.2%;
	}
	
	@include mq($until: mobile) {
		display: none;
	}
}

.o-media__block-arrow--lpl__left {
	margin-left: 3%;
	margin-right: 1.8%;

	@include mq($until: tablet) {
		margin-left: 0.7%;
		margin-right: 2%;
	}
}