.o-media__block-hp-hdr-txt {
	position: absolute;
	top: 38.75%;
    left: 15.4%;

	@include mq($until: tablet) {
		top: 36.5%;
		left: 15.5%;
	}

	@include mq($until: mobile) {
		top: 19.1%;
		left: 6.15%;
	}
}

.o-media__block-hp-hdr-ctr {
	position: absolute;
	font-weight: $font-weight-700;
	font-size: $size-22;
	letter-spacing: -$size-10*0.1;
	bottom: 7.5%;
    left: 15.5%;

	@include mq($until: tablet) {
		font-size: $size-12;
		letter-spacing: -$size-10*0.05;
		bottom: 6.25%;
	}

	@include mq($until: mobile) {
		font-size: $size-25;
		bottom: 17%;
		right: 6%;
		left: auto;
	}
}

.o-media__block-arrow-left {
	position: absolute;
	max-width: 55px;
	width: 3.3%;
	bottom: 43%;
	left: 2.8%;

	@include mq($until: mobile) {
		display: none;
	}
}

.o-media__block-arrow-right {
	position: absolute;
	max-width: 55px;
	width: 3.3%;
	bottom: 43%;
	right: 3.2%;

	@include mq($until: mobile) {
		display: none;
	}
}