.o-nav {
	max-width: 1700px;
	width: 100%;
	position: fixed;
	background-color: $color-black;

	@include mq($until: tablet) {
		max-width: 1024px;
	}

	@include mq($until: mobile) {
		max-width: 640px;
	}
}

.o-nav__list {
	width: 71.75%;
	margin: auto;
	padding : {
		    top: 1.68%;
		    left: 6%;
	  	}
	list-style-type: none;

    > .o-nav__list__first-li-block {
    	float: left;
    }

    > .o-nav__list__second-li-block {
    	float: right;
    }

    > .o-nav__list__middle-li {
		margin: 0 5%;
	}

    > li a {
	    display: block;
	    padding-bottom: $size-14/2;
	    color: $color-dark-yellow;
	    font : {
		    size: $size-12;
		    weight: $font-weight-700;
	  	}
	  	letter-spacing: $size-10/10;
	    text-transform: uppercase;
	    text-align: center;
	    text-decoration: none;

	    &:hover {
	    	color: $color-white;
	    	border-bottom: $size-12/4 $color-white solid;
	    }
	}

	@include mq($until: tablet) {
		display: none;
	}
}

.o-nav__fb {
	float: left;
	color: $color-white;
	font-size: $size-18;
	margin: $size-24 $size-26 $size-24 $size-30;

	@include mq($until: tablet) {
		display: none;
	}
}

.o-nav__yt {
	float: left;
	color: $color-white;
	font-size: $size-18;
	margin: $size-24 0;

	@include mq($until: tablet) {
		display: none;
	}
}

.o-nav__bar {
	display: none;
	float: left;
	color: $color-dark-yellow;
	font-size: $size-25;
	margin: $size-30 0 $size-28 $size-40;

	@include mq($until: tablet) {
		display: inline-block;
	}
}

.o-nav__bar--close {
	display: none;
	float: left;
	color: $color-dark-yellow;
	font-size: $size-25;
	margin: $size-30 0 $size-28 $size-40;
}

.o-nav__search {
	float: right;
	color: $color-white;
	font-size: $size-18;
	margin: $size-24 $size-40 $size-24 0;

	@include mq($until: tablet) {
		font-size: $size-25;
		margin: $size-30 $size-40 $size-28 0;
	}
}

.o-nav__logo {
	position: absolute;
	top: 19%;
    left: 44.206%;

	@include mq($until: tablet) {
		top: 35%;
    	left: 38%;
	}

	@include mq($until: mobile) {
    	left: 36%;
	}
}