.o-cmp-search-form {
	z-index: 2;
	display: none;
	position: fixed;
	left: 0;
	width: 100%;
}

.o-nav {
	z-index: 1;
	max-width: 1700px;
	width: 100%;
	position: fixed;
	background-color: $color-black;

	@include mq($until: tablet) {
		max-width: 1024px;
	}

	@include mq($until: mobile) {
		max-width: 640px;
	}
}

.o-nav__list--tbl-mob {
	//z-index: 1;
	background-color: $color-white;
	display: none;

	@include mq($until: tablet) {
		left: -72.65%;
		display: block;
		position: absolute;
		top: 100%;
		width: 72.65%;
		height: 100vh;
		overflow-y: auto;
		padding-top: $size-70*1.02;
		list-style-type: none;

		li {
			padding: $size-50*1.106 0 0 $size-50*1.14;
		}

		> li a {
			position: relative;
		    font : {
			    size: $size-20*1.1365;
			    weight: $font-weight-900;
		  	}
		  	letter-spacing: $size-10*0.2;
		    text-transform: uppercase;
		    text-decoration: none;
		}

	}

	@include mq($until: mobile) {
		left: -87.3%;
		width: 87.3%;
		padding-top: $size-50*1.54;

		li {
			padding: $size-50*1.34 0 0 $size-20*1.45;
		}

		> li a {
	    	font-size: $size-28;
	    	letter-spacing: $size-10*0.3;
		}
	}
}

.o-nav__list--tbl-mob__caret--down {

	@include mq($until: tablet) {
		float: left;
		display: block;
		color: $color-dark-yellow;
		margin-right: $size-30;

		i {
			vertical-align: bottom;
			font : {
				size: $size-20*1.1365;
			    weight: $font-weight-900;
		  	}
	  	}
	}

  	@include mq($until: mobile) {
		font-size: $size-28;
	}
}

.o-nav__list--tbl-mob__caret--up {

	@include mq($until: tablet) {
		float: left;
		display: none;
		color: $color-dark-yellow;
		margin-right: $size-30;

		i {
			vertical-align: bottom;
			font : {
				size: $size-20*1.1365;
			    weight: $font-weight-900;
		  	}
	  	}
	}

  	@include mq($until: mobile) {
		font-size: $size-28;
	}
}

.o-nav__list--tbl-mob__submenu {
	display: none;
	width: 100%;
	list-style-type: none;

	li {
		padding: $size-38 0 0 $size-70*1.08;

		@include mq($until: mobile) {
			padding: $size-48 0 0 $size-70*1.2;
		}
	}

	li:last-of-type {
		padding-bottom: $size-10;

		@include mq($until: mobile) {
			padding-bottom: $size-14;
		}
	}

	.o-nav__list--tbl-mob__submenu__link {
		color: inherit;
	    font : {
		    size: $size-20*1.135;
		    weight: $font-weight-400;
	  	}
	  	letter-spacing: $size-10*0.2;
	  	text-transform: inherit;
	    text-decoration: none;

	    @include mq($until: mobile) {
			font-size: $size-28;
			letter-spacing: $size-10*0.27;
		}
	}
}

.o-nav__list--tbl-mob__social {
	display: none;

	@include mq($until: tablet) {
		display: block;
		margin: 37% 0 18.5% 30.5%;
	}

	@include mq($until: mobile) {
		display: block;
		margin: 37% 0 18.5% 27.5%;
	}
}

.o-nav__list--tbl-mob__social__fb {
	display: none;

	@include mq($until: tablet) {
		display: inline-block;
		color: $color-black;
		font-size: $size-48;
		margin-right: 20%;
	}

	@include mq($until: mobile) {
		font-size: $size-28*2;
		margin-right: 25%;
	}
}

.o-nav__list--tbl-mob__social__yt {
	display: none;

	@include mq($until: tablet) {
		display: inline-block;
		color: $color-black;
		font-size: $size-28*2;
	}

	@include mq($until: mobile) {
		font-size: $size-28*2.25;
	}
}

.o-nav__list--desktop {
	width: 65%;
	margin: auto;
	padding : {
		    top: 1.68%;
		    left: 6.1%;
	  	}
	list-style-type: none;

    .o-nav__list--desktop__first-li-block {
    	float: left;
    }

    .o-nav__list--desktop__second-li-block {
    	float: right;
    }

    .o-nav__list--desktop__middle-li {
		margin: 0 5.6%;
	}

    .o-nav__list--desktop__link {
	    display: block;
	    padding-bottom: $size-14/2;
	    color: $color-dark-yellow;
	    font : {
		    size: $size-12;
		    weight: $font-weight-700;
	  	}
	  	letter-spacing: $size-10*0.1;
	    text-transform: uppercase;
	    text-align: center;
	    text-decoration: none;

	    &:hover {
	    	color: $color-white;
	    	border-bottom: $size-12/4 $color-white solid;
	    }
	}

	@include mq($until: tablet) {
		display: none;
	}
}

.o-nav__list--desktop__dd-menu {
	z-index: 1;
	display: none;
	position: absolute;
    top: 100%;
    left: 0;
	width: 100%;
	background-color: $color-white;
	list-style-type: none;

	@include mq($until: tablet) {
		display: none;
	}
}

.o-nav__list--desktop__dd-menu__block-1 {
	width: 50%;
    float: left;

    > div li:nth-child(2) {
		margin: $size-50*1.12 0;
	}

    .o-nav__list--desktop__dd-menu__block-1__link {
	    color: inherit;
	    font : {
		    size: $size-14;
		    weight: $font-weight-700;
	  	}
	  	letter-spacing: $size-10*0.1;
	    text-transform: uppercase;
	    text-decoration: none;
	}
}

.o-nav__list--desktop__dd-menu__block-1-1 {
	width: 50%;
    float: left;
    padding: $size-50*1.5 0 $size-50*1.5 $size-50*2.42;
}

.o-nav__list--desktop__dd-menu__block-1-2 {
	width: 50%;
    float: right;
    padding: $size-50*1.5 0 $size-50*1.5 $size-50*2.42;
}

.o-nav__list--desktop__dd-menu__block-2 {
	width: 50%;
    float: right;
    padding-left: $size-50*1.96;
    padding-top: $size-40*1.575;

    .o-nav__list--desktop__dd-menu__block-2__link {
	    color: inherit;
	    text-decoration: none;
    }
}

.o-nav__list--desktop__dd-menu__block-2-1 {
	width: 76%;
    padding-top: $size-10;

    > div li:nth-child(2) {
		margin-top: $size-14;
	}
}

.o-nav__list--desktop__dd-menu__block-2-1-1 {
	width: 50%;
    float: left;
}

.o-nav__list--desktop__dd-menu__block-2-1-2 {
	width: 50%;
    float: right;
}

.o-nav__list--desktop__dd-menu__heading-1a {
	font : {
		size: $size-26;
		weight: $font-weight-900;
	}
}

.o-nav__list--desktop__dd-menu__heading-1b {
	font : {
		family: $font-secondary;
		size: $size-30;
		weight: $font-weight-400;
	}
}

.o-nav__fb--desktop {
	float: left;
	color: $color-white;
	font-size: $size-18;
	margin: $size-24 $size-26 $size-24 $size-30;

	@include mq($until: tablet) {
		display: none;
	}
}

.o-nav__yt--desktop {
	float: left;
	color: $color-white;
	font-size: $size-22;
	margin: $size-22 0;

	@include mq($until: tablet) {
		display: none;
	}
}

.o-nav__bar {
	display: none;

	@include mq($until: tablet) {
		display: block;
		float: left;
		color: $color-dark-yellow;
		margin-top: 1.4%;
		margin-bottom: 9.5%;
    	margin-left: 7%;

    	i {
    		position: absolute;
    		font-size: $size-50*1.32;
    	}
	}

	@include mq($until: mobile) {
		margin-top: 3.3%;
	    margin-bottom: 9.8%;
	    margin-left: 5.1%;

    	i {
    		font-size: $size-48;
    	}
	}
}

.o-nav__bar--close {
	display: none;

	@include mq($until: tablet) {
		float: left;
		color: $color-dark-yellow;
		margin-top: 1.4%;
		margin-bottom: 9.5%;
    	margin-left: 7%;

    	i {
    		position: absolute;
    		font-size: $size-50*1.32;
    	}
	}

	@include mq($until: mobile) {
		margin-top: 3.3%;
	    margin-bottom: 9.8%;
	    margin-left: 5.1%;

    	i {
    		font-size: $size-48;
    	}
	}
}

.o-nav__search {
	float: right;
	color: $color-white;
	margin-top: 1.4%;
    margin-right: 2.1%;

    i {
		font-size: $size-24;
	}

	@include mq($until: tablet) {
		margin-top: 2.5%;
	    margin-right: 7%;

	    i {
			font-size: $size-50;
		}
	}

	@include mq($until: mobile) {
		margin-top: 4%;
	    margin-right: 5.4%;

	    i {
			font-size: $size-40;
		}
	}
}

.o-nav__logo {
	position: absolute;
	top: 19%;
    left: 44.206%;

	@include mq($until: tablet) {
		top: 35%;
    	left: 38%;
	}

	@include mq($until: mobile) {
    	top: 23%;
    	left: 32%;
	}
}