<article class="o-media  utl-pos-relative  utl-clearfix">

  <div class="o-cmp-intro-img-incl-txt  utl-pos-relative">
    <picture class="o-cmp-intro-img-incl-txt__picture">
      <source media="(max-width: 640px)" srcset="{{ img.img-640x508.src }}">
      <source media="(max-width: 1024px)" srcset="{{ img.img-770x396.src }}">
      <img src="{{ img.img-750x875.src }}" alt="">
    </picture>

    <div class="o-cmp-intro-img-incl-txt__heading  utl-pos-absolute">
      {{> molecules-heading-test-quel-vehicule }}
    </div>
  </div>

  <div class="o-cmp-psytest-intro-wrapper">

    <div class="o-cmp-psytest-intro-block  utl-margin-auto">

      <h4 class="o-cmp-psytest-intro-block__heading  a-obj-h4-dim-40-24-24">Curabitur scelerisque mauris mi, sed consectetur dui tempor et.</h4>

      <p class="o-cmp-psytest-intro-block__txt  a-obj-p-dim-28-16-16">Cras luctus hendrerit neque lacinia scelerisque. Integer nulla turpis, mattis at libero et, vehicula congue augue. Suspendisse id commodo tellus. Phasellus ac cursus elit, ac tincidunt nulla. Duis eget sapien sem. Fusce eu dolor sit amet nunc efficitur
        laoreet. Mauris interdum felis sit amet leo fringilla ullamcorper. Mauris enim turpis, condimentum in libero ac, posuere pulvinar purus. Aenean at justo nibh. Curabitur scelerisque mauris mi, sed consectetur dui tempor et. Praesent molestie ex
        sed euismod dapibus. Nunc in suscipit ligula. Curabitur metus elit, fermentum ac condimentum eu, condimentum sit amet tortor. Aliquam sed hendrerit augue. Sed facilisis sodales turpis, et varius quam viverra</p>

      <div class="o-cmp-psytest-intro-block__button">
        <a href="" class="a-cmp-button  utl-txt-uppercase">Start</a>
      </div>

    </div>

  </div>

</article>