<footer class="o-media  o-footer">

  <div class="o-footer__logo">{{> atoms-footer-logo }}</div>

  <div class="o-footer__txt">
    <p class="a-cmp-paragraph--small  utl-txt-uppercase">cgu</p>
    <p class="a-cmp-paragraph--small  utl-txt-uppercase">mentions légales</p>
  </div>

</footer>