<footer class="o-footer">

  <div class="o-footer__logo">{{> atoms-footer-logo }}</div>

  <div class="o-footer__txt">
    <a href="..\..{{ link.pages-cgu }}"><span class="a-cmp-paragraph--small  utl-txt-uppercase">cgu</span></a>
    <a href="..\..{{ link.pages-terms }}"><span class="a-cmp-paragraph--small  utl-txt-uppercase">mentions légales</span></a>
  </div>

</footer>