<article class="o-media  utl-pos-relative  utl-clearfix">

  <div class="o-media__wrapper-1  utl-clearfix">

    <div class="o-media__block  o-media__block-cmn-1">

      <div class="o-media__block-cmn-1-1">
        <div class="o-media__block-cmn-1-1--desktop-img">{{> atoms-img-1350x440 }}</div>
        <div class="o-media__block-cmn-1-1--mobile-img">{{> atoms-img-640x492 }}</div>
      </div>

      <div class="o-media__block-cmn-1-2  utl-flexbox-center">
        {{> molecules-heading-test-quel-vehicule }}
      </div>

      <div class="o-media__block-cmn-1-3  utl-flexbox-center">
        <p class="a-cmp-paragraph--test  a-cmp-paragraph--default  m-obj-media__paragraph">{{ media-section-paragraph.fourth }}</p>
      </div>

      <div class="o-media__block-cmn-1-4  utl-flexbox-center">
        <a href="" class="a-cmp-button  a-cmp-button--font-2  a-cmp-button--hover  utl-txt-uppercase">Commencer le test</a>
      </div>

    </div>

    <div class="o-media__block  o-media__block-cmn-2">

      <div class="o-media__block-cmn-2-1">
        {{> molecules-media-test-quel-vehicule-362x155 }}
      </div>

      <div class="o-media__block-cmn-2-2">
        {{> molecules-media-test-quel-vehicule-352x165 }}
      </div>

      <div class="o-media__block-cmn-2-3">
        {{> molecules-media-test-quel-vehicule-362x188 }}
      </div>

    </div>

  </div>

</article>