<div class="t-cmp-nav">{{> organisms-nav }}</div>
<div class="t-cmp-psy-test__intro">{{> organisms-psy-test-intro }}</div>
<div class="t-cmp-psy-test__article">{{> organisms-psy-test-article }}</div>
<div class="t-cmp-psy-test__resultats">
  {{> organisms-psy-test-resultats }}
  <div class="t-cmp-psy-test-les-plus-lus">{{> organisms-article-les-plus-lus }}</div>
  <div class="t-cmp-psy-test-footer">{{> organisms-footer }}</div>
</div>