<div class="t-cmp-nav">{{> organisms-nav }}</div>
<div class="t-cmp-article-enrichi">{{> organisms-article-enrichi }}</div>
<div class="t-cmp-article-enrichi-article-test-quel-vehicule">{{> organisms-article-test-quel-vehicule }}</div>
<div class="t-cmp-article-enrichi-article-article-lies">{{> organisms-article-article-lies }}</div>
<div class="t-cmp-article-enrichi-article-les-plus-lus">{{> organisms-article-les-plus-lus }}</div>
<div class="t-cmp-article-enrichi-footer">{{> organisms-footer }}</div>