<section class="m-obj-media">

	<div class="m-obj-media__img--qa-list">
		{{> atoms-img-284x235 }}
	</div>

	<div class="m-obj-media__txt-6  a-cmp-media-w284">
		<h6 class="a-cmp-heading--6">{{ media-section-heading.fifthteen }}</h6>
		<p class="a-cmp-paragraph  a-cmp-paragraph--default  m-obj-media__paragraph">{{ media-section-paragraph.first }}</p>
	</div>

</section>