<header class="o-media  utl-pos-relative">

  <div class="utl-pos-relative">
    {{> atoms-img-1354x700 }}

    <div class="o-media__block  o-media__block-shp-hdr">
      <div class="a-cmp-image-description  a-cmp-image-description--header  utl-txt-uppercase">{{ img-description.first }}</div>
      <h1 class="o-media__block-shp-hdr__heading  a-cmp-heading--1  a-cmp-heading--1--shp  utl-color-white  utl-txt-uppercase">Communication</h1>
    </div>
  </div>

  <div class="o-media__block  o-media__block-shp-txt">
    <p class="a-cmp-paragraph--shp-header">{{ header-paragraph.shp }}</p>
  </div>

  <div class="o-media__block  o-media__block-shp-path">
    <p>Acceuil&nbsp;&nbsp;>&nbsp;&nbsp;Côté business&nbsp;&nbsp;>&nbsp;&nbsp;Communication</p>
  </div>

</header>