.a-cmp-button {
	display: inline-block;
	background-color: $color-white;
	padding: $size-14 $size-20;
	color: inherit;
	font : {
	    size: 12px;
	    weight: $font-weight-700;
  	}
	text-decoration: none;
	-webkit-transition: $transition;
	transition: $transition;

	@include mq($until: tablet) {
		padding: $size-12 $size-18;
	}

	@include mq($until: mobile) {
		padding: $size-16 $size-22;
	}
}

.a-cmp-button--hover:hover {
	background-color: $color-black;
	color: $color-white;
	-webkit-transition: background-color 350ms, color 350ms;
	transition: background-color 350ms, color 350ms;
}

.a-cmp-button--hover--bckgrnd-yellow:hover {
	background-color: $color-dark-yellow;
	color: $color-black;
}