.a-cmp-heading--5 {
	font: {
		size: $size-22;
		weight: $font-weight-900;
	}

	@include mq($until: tablet) {
		font-size: $size-16;
	}

	@include mq($until: mobile) {
		font-size: $size-28;
	}
}

.a-cmp-heading--5a {
	font: {
		size: $size-22;
		weight: $font-weight-900;
	}

	@include mq($until: tablet) {
		font-size: $size-14;
	}
}