.a-h-line {
	display: block;
	position: absolute;
	z-index: -1;
    background-color: $color-lines-gray;
    width: 100%;
    height: 1px;
}

.a-h-line--tmp {
	display: block;
	z-index: -2;
    background-color: $color-lines-gray;
    height: 1px;
}

.a-h-line--renault-qa-1 {
	top: 19.5%;

	@include mq($until: tablet) {
		display: none;
	}
}

.a-h-line--renault-qa-2 {
	bottom: 0;

	@include mq($until: tablet) {
		display: none;
	}
}

.a-h-line--more-qa-1 {
	top: 9.3%;

	@include mq($until: tablet) {
		top: 5.6%;
	}

	@include mq($until: mobile) {
		display: none;
	}
}

.a-v-line {
	display: block;
	position: absolute;
	z-index: -1;
    background-color: $color-lines-gray;
    width: 1px;
}

.a-v-line--renault-qa-1 {
	top: 19.5%;
	right: 30.8%;
	height: 80.5%;

	@include mq($until: tablet) {
		display: none;
	}
}