.a-cmp-media-w490-1 {
	max-width: 490px;
	width: 100%;

	@include mq($until: mobile) {
		max-width: 560px;
	}
}

.a-cmp-media-w490-1 {
	max-width: 35rem;
	width: 100%;

	@include mq($until: tablet) {
		max-width: 22.71rem;
	}

	@include mq($until: mobile) {
		max-width: 19.5rem;
	}
}