.a-cmp-paragraph {
	color: $color-dark-gray;
	
	@include mq($until: tablet) {
		display: none;
	}
}

.a-cmp-paragraph--test {
	@include mq($until: tablet) {
		display: none;
	}

	@include mq($until: mobile) {
		display: inherit;
		font-size: $size-26;
	}
}