<div class="o-media  utl-pos-relative">
  <div class="o-media  t-cmp-article-diaporama-module">{{> organisms-article-diaporama-module }}</div>
  <div class="t-cmp-article-main">
    <div class="t-cmp-nav">{{> organisms-nav }}</div>
    <div class="t-cmp-article-header">{{> organisms-article-diaporama-header }}</div>
    <div class="t-cmp-article">{{> organisms-article }}</div>
    <div class="t-cmp-article-article-test-quel-vehicule">{{> organisms-article-test-quel-vehicule }}</div>
    <div class="t-cmp-article-article-article-lies">{{> organisms-article-article-lies }}</div>
    <div class="t-cmp-article-article-les-plus-lus">{{> organisms-article-les-plus-lus }}</div>
    <div class="t-cmp-article-footer">{{> organisms-footer }}</div>
  </div>
</div>