<div class="t-cmp-nav">{{> organisms-nav }}</div>
<div class="t-cmp-article-live-news">{{> organisms-article-live-news }}</div>
<div class="a-h-line--tmp  t-cmp-resultats-line-1  t-cmp-line--no-tbl"></div>
<div class="t-cmp-live-news-article-test-quel-vehicule">{{> organisms-article-test-quel-vehicule }}</div>
<div class="a-h-line--tmp  t-cmp-resultats-line-2  t-cmp-line--no-tbl"></div>
<div class="t-cmp-live-news-article-les-plus-lus">{{> organisms-article-les-plus-lus }}</div>
<div class="t-cmp-live-news-footer">{{> organisms-footer }}</div>