<div class="t-cmp-nav">{{> organisms-nav }}</div>
<div class="t-cmp-article-live-news">{{> organisms-article-live-news }}</div>
<div class="t-cmp-live-news-article-test-quel-vehicule">{{> organisms-article-test-quel-vehicule }}</div>
<div class="t-cmp-live-news-article-les-plus-lus">{{> organisms-article-les-plus-lus }}</div>
<div class="t-cmp-live-news-footer">{{> organisms-footer }}</div>