<section class="m-obj-media  m-obj-media--foire">

	<div class="m-obj-media__foire-carousel">

		<div class="utl-pos-relative">
			<div class="m-obj-media__img  m-obj-media--image-block  m-obj-media__img--box-shadow-2">
				{{> atoms-img-490x410 }}
			</div>

			<div class="m-obj-media  m-obj-media--text-block">

				<div class="m-obj-media__txt  m-obj-media__txt-3  a-cmp-media-w490">
					<h6 class="a-cmp-heading--5">{{ media-section-heading.tenth }}</h6>
					<p class="a-cmp-paragraph  a-cmp-paragraph--default  m-obj-media__paragraph">{{ media-section-paragraph.second }}</p>
				</div>

			</div>
		</div>

		<div class="utl-pos-relative">
			<div class="m-obj-media__img  m-obj-media--image-block  m-obj-media__img--box-shadow-2">
				{{> atoms-img-490x410 }}
			</div>

			<div class="m-obj-media  m-obj-media--text-block">

				<div class="m-obj-media__txt  m-obj-media__txt-3  a-cmp-media-w490">
					<h6 class="a-cmp-heading--5">{{ media-section-heading.tenth }}</h6>
					<p class="a-cmp-paragraph  a-cmp-paragraph--default  m-obj-media__paragraph">{{ media-section-paragraph.second }}</p>
				</div>

			</div>
		</div>

		<div class="utl-pos-relative">
			<div class="m-obj-media__img  m-obj-media--image-block  m-obj-media__img--box-shadow-2">
				{{> atoms-img-490x410 }}
			</div>

			<div class="m-obj-media  m-obj-media--text-block">

				<div class="m-obj-media__txt  m-obj-media__txt-3  a-cmp-media-w490">
					<h6 class="a-cmp-heading--5">{{ media-section-heading.tenth }}</h6>
					<p class="a-cmp-paragraph  a-cmp-paragraph--default  m-obj-media__paragraph">{{ media-section-paragraph.second }}</p>
				</div>

			</div>
		</div>

		<div class="utl-pos-relative">
			<div class="m-obj-media__img  m-obj-media--image-block  m-obj-media__img--box-shadow-2">
				{{> atoms-img-490x410 }}
			</div>

			<div class="m-obj-media  m-obj-media--text-block">

				<div class="m-obj-media__txt  m-obj-media__txt-3  a-cmp-media-w490">
					<h6 class="a-cmp-heading--5">{{ media-section-heading.tenth }}</h6>
					<p class="a-cmp-paragraph  a-cmp-paragraph--default  m-obj-media__paragraph">{{ media-section-paragraph.second }}</p>
				</div>

			</div>
		</div>

		<div class="utl-pos-relative">
			<div class="m-obj-media__img  m-obj-media--image-block  m-obj-media__img--box-shadow-2">
				{{> atoms-img-490x410 }}
			</div>

			<div class="m-obj-media  m-obj-media--text-block">

				<div class="m-obj-media__txt  m-obj-media__txt-3  a-cmp-media-w490">
					<h6 class="a-cmp-heading--5">{{ media-section-heading.tenth }}</h6>
					<p class="a-cmp-paragraph  a-cmp-paragraph--default  m-obj-media__paragraph">{{ media-section-paragraph.second }}</p>
				</div>

			</div>
		</div>

	</div>

	<div class="m-obj-media__counter  utl-pos-relative">
		<span><span class="m-obj-media__counter__caret"><div class="m-cmp-foire__caret--left  utl-inline-block"> {{> atoms-caret-left }} </div></span><div class="m-obj-media  m-obj-media__counter--caret-background  m-obj-media__counter--caret-background-1"></div>
		<span class="utl-color-dark-yellow"> 01&nbsp;&nbsp;</span>/&nbsp;&nbsp;05 <span class="m-obj-media__counter__caret"><div class="m-cmp-foire__caret--right  utl-inline-block"> {{> atoms-caret-right }} </div></span>
		<div class="m-obj-media  m-obj-media__counter--caret-background  m-obj-media__counter--caret-background-2"></div></span>
	</div>

</section>