<section class="m-obj-media">

	<div class="m-obj-media__img  m-obj-media--image-block  m-obj-media__img--box-shadow-2">
		{{> atoms-img-490x410 }}
	</div>

	<div class="m-obj-media  m-obj-media--text-block">

		<div class="m-obj-media__txt  a-cmp-media-w490">
			<h6 class="a-cmp-heading--5">{{ media-section-heading.tenth }}</h6>
			<p class="a-cmp-paragraph  a-cmp-paragraph--default  m-obj-media__paragraph">{{ media-section-paragraph.second }}</p>
		</div>

		<div class="m-obj-media__counter">
			<span> {{> atoms-caret-left }} <span class="utl-color-dark-yellow">01&nbsp;&nbsp;</span>/&nbsp;&nbsp;05 {{> atoms-caret-right }} </span>
		</div>

	</div>

</section>