<article class="o-media  utl-clearfix">

  <div class="o-media__wrapper-1  utl-pos-relative  utl-clearfix">

    <div class="o-media__block  o-media__block-edit-picks__1">
      {{> molecules-heading-editors-picks }}
    </div>

    <div class="o-media__block  o-media__block-edit-picks__2">

      <div class="o-media__block  o-media__block-edit-picks__2__section-1">
        {{> molecules-media-editors-picks-img-578x473 }}
      </div>

      <div class="o-media__block  o-media__block-edit-picks__2__section-2">
        {{> molecules-media-editors-picks-img-320x262 }}
      </div>

    </div>

    <div class="o-media__block  o-media__block-edit-picks__3">

      <div class="o-media__block  o-media__block-edit-picks__3__section-1">
        {{> molecules-media-editors-picks-img-235x310 }}
      </div>

      <div class="o-media__block  o-media__block-edit-picks__3__section-2">
        {{> molecules-media-editors-picks-img-405x535 }}
      </div>

    </div>

  </div>

</article>