<header class="o-media  utl-pos-relative">

  <div class="o-media__header-article-img  o-media__header-article-img--background">{{> atoms-img-1700x700 }}</div>
  <iframe class="o-media__header-article-video" src="https://www.youtube.com/embed/DbGTAw1AijI" frameborder="0" allowfullscreen></iframe>

</header>