<header class="o-media  utl-pos-relative">

	<div class="o-media__header-article-img">{{> atoms-img-1700x700 }}</div>

	<div class="o-media__header-article-txt">
		<p class="a-cmp-paragraph--article-header">{{ header-paragraph.article }}</p>
	</div>

</header>