<article class="o-media  utl-pos-relative  utl-clearfix">

	<div class="o-media__block-module__close  utl-pos-absolute  utl-z-index-1"><a href="">{{> atoms-close-icon }}</a></div>

	<div class="o-media__block-module__arrow  o-media__block-module__arrow--left  utl-pos-absolute  utl-z-index-1">{{> atoms-arrow-diaporama-left }}</div>

	<div class="o-media__block-module__arrow  o-media__block-module__arrow--right  utl-pos-absolute  utl-z-index-1">{{> atoms-arrow-diaporama-right }}</div>

	<div class="o-media__block-module__background--yellow  utl-pos-absolute"></div>

	<div class="o-media__block-module-carousel">

		<div class="utl-pos-relative">

			<div class="o-media__block-module__img--desktop">{{> atoms-img-945x585 }}</div>

			<div class="o-media__block-module__img--tablet">{{> atoms-img-770x570 }}</div>

			<div class="o-media__block-module__img--mobile">{{> atoms-img-640x550 }}</div>

			<div class="o-media__block-module__content  utl-pos-relative  utl-clearfix">

				<div class="o-media__block-module__content__counter"><span>1</span><span class="utl-color-white">/8</span></div>

				<div class="o-media__block-module__content__heading"><h1 class="a-cmp-heading--1--article-diaporama-module">à quel moment puis-je prétendre aux offres «formule flotte» chez mon assureur</h1></div>

				<div class="o-media__block-module__content__paragraph"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet maximus ante. Aliquam ut felis sodales, vulputate nulla in, varius arcu. Integer dictum magna eu velit fermentum, sed fringilla diam tristique. Pellentesque tempor tempus justo quis volutpat. Nunc tincidunt scelerisque cursus. Praesent urna ipsum, porttitor ac leo id, porta lobortis lectus. Cras congue pretium tortor et malesuada.</p></div>

				<div class="o-media__block-module__content__social-links">
					<div class="o-media__block-module__content__social-links__link  o-media__block-module__content__social-links__twitter">{{> atoms-twitter-diaporama }}</div>
					<div class="o-media__block-module__content__social-links__link  o-media__block-module__content__social-links__fb">{{> atoms-fb-diaporama }}</div>
				</div>

			</div>

		</div>

		<div class="utl-pos-relative">

			<div class="o-media__block-module__img--desktop">{{> atoms-img-945x585 }}</div>

			<div class="o-media__block-module__img--tablet">{{> atoms-img-770x570 }}</div>
			
			<div class="o-media__block-module__img--mobile">{{> atoms-img-640x550 }}</div>

			<div class="o-media__block-module__content  utl-pos-relative  utl-clearfix">

				<div class="o-media__block-module__content__counter"><span>2</span><span class="utl-color-white">/8</span></div>

				<div class="o-media__block-module__content__heading"><h1 class="a-cmp-heading--1--article-diaporama-module">à quel moment puis-je prétendre aux offres «formule flotte» chez mon assureur</h1></div>

				<div class="o-media__block-module__content__paragraph"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet maximus ante. Aliquam ut felis sodales, vulputate nulla in, varius arcu. Integer dictum magna eu velit fermentum, sed fringilla diam tristique. Pellentesque tempor tempus justo quis volutpat. Nunc tincidunt scelerisque cursus. Praesent urna ipsum, porttitor ac leo id, porta lobortis lectus. Cras congue pretium tortor et malesuada.</p></div>

				<div class="o-media__block-module__content__social-links">
					<div class="o-media__block-module__content__social-links__link  o-media__block-module__content__social-links__twitter">{{> atoms-twitter-diaporama }}</div>
					<div class="o-media__block-module__content__social-links__link  o-media__block-module__content__social-links__fb">{{> atoms-fb-diaporama }}</div>
				</div>

			</div>

		</div>

		<div class="utl-pos-relative">

			<div class="o-media__block-module__img--desktop">{{> atoms-img-945x585 }}</div>

			<div class="o-media__block-module__img--tablet">{{> atoms-img-770x570 }}</div>
			
			<div class="o-media__block-module__img--mobile">{{> atoms-img-640x550 }}</div>

			<div class="o-media__block-module__content  utl-pos-relative  utl-clearfix">

				<div class="o-media__block-module__content__counter"><span>3</span><span class="utl-color-white">/8</span></div>

				<div class="o-media__block-module__content__heading"><h1 class="a-cmp-heading--1--article-diaporama-module">à quel moment puis-je prétendre aux offres «formule flotte» chez mon assureur</h1></div>

				<div class="o-media__block-module__content__paragraph"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet maximus ante. Aliquam ut felis sodales, vulputate nulla in, varius arcu. Integer dictum magna eu velit fermentum, sed fringilla diam tristique. Pellentesque tempor tempus justo quis volutpat. Nunc tincidunt scelerisque cursus. Praesent urna ipsum, porttitor ac leo id, porta lobortis lectus. Cras congue pretium tortor et malesuada.</p></div>

				<div class="o-media__block-module__content__social-links">
					<div class="o-media__block-module__content__social-links__link  o-media__block-module__content__social-links__twitter">{{> atoms-twitter-diaporama }}</div>
					<div class="o-media__block-module__content__social-links__link  o-media__block-module__content__social-links__fb">{{> atoms-fb-diaporama }}</div>
				</div>

			</div>

		</div>

		<div class="utl-pos-relative">

			<div class="o-media__block-module__img--desktop">{{> atoms-img-945x585 }}</div>

			<div class="o-media__block-module__img--tablet">{{> atoms-img-770x570 }}</div>
			
			<div class="o-media__block-module__img--mobile">{{> atoms-img-640x550 }}</div>

			<div class="o-media__block-module__content  utl-pos-relative  utl-clearfix">

				<div class="o-media__block-module__content__counter"><span>4</span><span class="utl-color-white">/8</span></div>

				<div class="o-media__block-module__content__heading"><h1 class="a-cmp-heading--1--article-diaporama-module">à quel moment puis-je prétendre aux offres «formule flotte» chez mon assureur</h1></div>

				<div class="o-media__block-module__content__paragraph"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet maximus ante. Aliquam ut felis sodales, vulputate nulla in, varius arcu. Integer dictum magna eu velit fermentum, sed fringilla diam tristique. Pellentesque tempor tempus justo quis volutpat. Nunc tincidunt scelerisque cursus. Praesent urna ipsum, porttitor ac leo id, porta lobortis lectus. Cras congue pretium tortor et malesuada.</p></div>

				<div class="o-media__block-module__content__social-links">
					<div class="o-media__block-module__content__social-links__link  o-media__block-module__content__social-links__twitter">{{> atoms-twitter-diaporama }}</div>
					<div class="o-media__block-module__content__social-links__link  o-media__block-module__content__social-links__fb">{{> atoms-fb-diaporama }}</div>
				</div>

			</div>

		</div>

		<div class="utl-pos-relative">

			<div class="o-media__block-module__img--desktop">{{> atoms-img-945x585 }}</div>

			<div class="o-media__block-module__img--tablet">{{> atoms-img-770x570 }}</div>
			
			<div class="o-media__block-module__img--mobile">{{> atoms-img-640x550 }}</div>

			<div class="o-media__block-module__content  utl-pos-relative  utl-clearfix">

				<div class="o-media__block-module__content__counter"><span>5</span><span class="utl-color-white">/8</span></div>

				<div class="o-media__block-module__content__heading"><h1 class="a-cmp-heading--1--article-diaporama-module">à quel moment puis-je prétendre aux offres «formule flotte» chez mon assureur</h1></div>

				<div class="o-media__block-module__content__paragraph"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet maximus ante. Aliquam ut felis sodales, vulputate nulla in, varius arcu. Integer dictum magna eu velit fermentum, sed fringilla diam tristique. Pellentesque tempor tempus justo quis volutpat. Nunc tincidunt scelerisque cursus. Praesent urna ipsum, porttitor ac leo id, porta lobortis lectus. Cras congue pretium tortor et malesuada.</p></div>

				<div class="o-media__block-module__content__social-links">
					<div class="o-media__block-module__content__social-links__link  o-media__block-module__content__social-links__twitter">{{> atoms-twitter-diaporama }}</div>
					<div class="o-media__block-module__content__social-links__link  o-media__block-module__content__social-links__fb">{{> atoms-fb-diaporama }}</div>
				</div>

			</div>

		</div>

		<div class="utl-pos-relative">

			<div class="o-media__block-module__img--desktop">{{> atoms-img-945x585 }}</div>

			<div class="o-media__block-module__img--tablet">{{> atoms-img-770x570 }}</div>
			
			<div class="o-media__block-module__img--mobile">{{> atoms-img-640x550 }}</div>

			<div class="o-media__block-module__content  utl-pos-relative  utl-clearfix">

				<div class="o-media__block-module__content__counter"><span>6</span><span class="utl-color-white">/8</span></div>

				<div class="o-media__block-module__content__heading"><h1 class="a-cmp-heading--1--article-diaporama-module">à quel moment puis-je prétendre aux offres «formule flotte» chez mon assureur</h1></div>

				<div class="o-media__block-module__content__paragraph"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet maximus ante. Aliquam ut felis sodales, vulputate nulla in, varius arcu. Integer dictum magna eu velit fermentum, sed fringilla diam tristique. Pellentesque tempor tempus justo quis volutpat. Nunc tincidunt scelerisque cursus. Praesent urna ipsum, porttitor ac leo id, porta lobortis lectus. Cras congue pretium tortor et malesuada.</p></div>

				<div class="o-media__block-module__content__social-links">
					<div class="o-media__block-module__content__social-links__link  o-media__block-module__content__social-links__twitter">{{> atoms-twitter-diaporama }}</div>
					<div class="o-media__block-module__content__social-links__link  o-media__block-module__content__social-links__fb">{{> atoms-fb-diaporama }}</div>
				</div>

			</div>

		</div>

		<div class="utl-pos-relative">

			<div class="o-media__block-module__img--desktop">{{> atoms-img-945x585 }}</div>

			<div class="o-media__block-module__img--tablet">{{> atoms-img-770x570 }}</div>
			
			<div class="o-media__block-module__img--mobile">{{> atoms-img-640x550 }}</div>

			<div class="o-media__block-module__content  utl-pos-relative  utl-clearfix">

				<div class="o-media__block-module__content__counter"><span>7</span><span class="utl-color-white">/8</span></div>

				<div class="o-media__block-module__content__heading"><h1 class="a-cmp-heading--1--article-diaporama-module">à quel moment puis-je prétendre aux offres «formule flotte» chez mon assureur</h1></div>

				<div class="o-media__block-module__content__paragraph"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet maximus ante. Aliquam ut felis sodales, vulputate nulla in, varius arcu. Integer dictum magna eu velit fermentum, sed fringilla diam tristique. Pellentesque tempor tempus justo quis volutpat. Nunc tincidunt scelerisque cursus. Praesent urna ipsum, porttitor ac leo id, porta lobortis lectus. Cras congue pretium tortor et malesuada.</p></div>

				<div class="o-media__block-module__content__social-links">
					<div class="o-media__block-module__content__social-links__link  o-media__block-module__content__social-links__twitter">{{> atoms-twitter-diaporama }}</div>
					<div class="o-media__block-module__content__social-links__link  o-media__block-module__content__social-links__fb">{{> atoms-fb-diaporama }}</div>
				</div>

			</div>

		</div>

		<div class="utl-pos-relative">

			<div class="o-media__block-module__img--desktop">{{> atoms-img-945x585 }}</div>

			<div class="o-media__block-module__img--tablet">{{> atoms-img-770x570 }}</div>
			
			<div class="o-media__block-module__img--mobile">{{> atoms-img-640x550 }}</div>

			<div class="o-media__block-module__content  utl-pos-relative  utl-clearfix">

				<div class="o-media__block-module__content__counter"><span>8</span><span class="utl-color-white">/8</span></div>

				<div class="o-media__block-module__content__heading"><h1 class="a-cmp-heading--1--article-diaporama-module">à quel moment puis-je prétendre aux offres «formule flotte» chez mon assureur</h1></div>

				<div class="o-media__block-module__content__paragraph"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet maximus ante. Aliquam ut felis sodales, vulputate nulla in, varius arcu. Integer dictum magna eu velit fermentum, sed fringilla diam tristique. Pellentesque tempor tempus justo quis volutpat. Nunc tincidunt scelerisque cursus. Praesent urna ipsum, porttitor ac leo id, porta lobortis lectus. Cras congue pretium tortor et malesuada.</p></div>

				<div class="o-media__block-module__content__social-links">
					<div class="o-media__block-module__content__social-links__link  o-media__block-module__content__social-links__twitter">{{> atoms-twitter-diaporama }}</div>
					<div class="o-media__block-module__content__social-links__link  o-media__block-module__content__social-links__fb">{{> atoms-fb-diaporama }}</div>
				</div>

			</div>

		</div>

	</div>

	<div class="o-media__block-module-carousel--small">
		<div class="o-media__block  utl-pos-relative">
			<div class="o-media__block-module__img--small">{{> atoms-img-100x80 }}</div>
		</div>

		<div class="o-media__block  utl-pos-relative">
			<div class="o-media__block-module__img--small">{{> atoms-img-100x80 }}</div>
		</div>

		<div class="o-media__block  utl-pos-relative">
			<div class="o-media__block-module__img--small">{{> atoms-img-100x80 }}</div>
		</div>

		<div class="o-media__block  utl-pos-relative">
			<div class="o-media__block-module__img--small">{{> atoms-img-100x80 }}</div>
		</div>

		<div class="o-media__block  utl-pos-relative">
			<div class="o-media__block-module__img--small">{{> atoms-img-100x80 }}</div>
		</div>

		<div class="o-media__block  utl-pos-relative">
			<div class="o-media__block-module__img--small">{{> atoms-img-100x80 }}</div>
		</div>

		<div class="o-media__block  utl-pos-relative">
			<div class="o-media__block-module__img--small">{{> atoms-img-100x80 }}</div>
		</div>

		<div class="o-media__block  utl-pos-relative">
			<div class="o-media__block-module__img--small">{{> atoms-img-100x80 }}</div>
		</div>
	</div>

</article>