<div class="o-media__block__slider  utl-clearfix">

  <div class="o-media__block__slider__background  o-media__block__slider__background--vertical"></div>

  <div class="o-media__block__slider__background  o-media__block__slider__background--horizontal"></div>

  <div class="o-media__block__slider__link">{{> molecules-slider-link-fb }}</div>

  <div class="o-media__block__slider__link  o-media__block__slider__link--middle">{{> molecules-slider-link-twitter }}</div>

  <div class="o-media__block__slider__link">{{> molecules-slider-link-mail }}</div>

</div>