<div class="t-cmp-nav">{{> organisms-nav }}</div>
<div class="t-cmp-hp-header">{{> organisms-hp-header }}</div>
<div class="t-cmp-article-news-de-la-semaine">{{> organisms-article-news-de-la-semaine }}</div>
<div class="t-cmp-article-fan-de-vu">{{> organisms-article-fan-de-vu }}</div>
<div class="t-cmp-article-vu-and-astuces">{{> organisms-article-vu-and-astuces }}</div>
<div class="t-cmp-article-foire-aux-questions">{{> organisms-article-foire-aux-questions }}</div>
<div class="t-cmp-article-cote-business">{{> organisms-article-cote-business }}</div>
<div class="t-cmp-hp-article-test-quel-vehicule">{{> organisms-article-test-quel-vehicule }}</div>
<div class="t-cmp-hp-article-les-plus-lus">{{> organisms-article-les-plus-lus }}</div>
<div class="t-cmp-hp-footer">{{> organisms-footer }}</div>