/*.m-obj-media__heading {
	display: inline-block;
	max-width: 165px;
	width: 100%;
}

.m-obj-media__heading--fix {
	display: inline-block;
	max-width: 180px;
}

.m-obj-media__heading--fix-2 {
	display: inline-block;
	max-width: 230px;
}

.m-obj-media__heading--fix-3 {
	display: inline-block;
	max-width: 300px;
}

.m-obj-media__heading--small {
	font-size: $size-30;
	color: $color-dark-yellow;
}

.m-obj-media__heading--white {
	color: $color-white;
}*/

