.m-obj-media {
	display: inline-block;
}

.m-obj-media--image-block {
	float: left;
	width: 45.88%;

	@include mq($until: tablet) {
		width: 52.5%;
	}

	@include mq($until: mobile) {
		width: auto;
		float: none;
	}
}

.m-obj-media--text-block {
	float: left;
	width: 45%;
	margin-top: 12.9%;
    margin-left: 2.3%;

	@include mq($until: tablet) {
		width: 35%;
		margin-top: 19%;
    	margin-left: 5%;
	}

	@include mq($until: mobile) {
		margin-top: 5%;
		margin-left: 0;
		width: auto;
		float: none;
	}
}


/*------------------------------------------
		> MOLECULES - media related <						
------------------------------------------*/

@import "scss/01_molecules/m-media-more-qa-mw185";
@import "scss/01_molecules/m-media-more-qa-dw490";