.m-obj-media__txt {
	margin-top: $size-24;

	@include mq($until: tablet) {
		margin-top: $size-16;
	}

	@include mq($until: mobile) {
		margin-top: $size-20;
	}
}

.m-obj-media__txt-2 {
	margin-top: $size-28*2;

	@include mq($until: tablet) {
		margin-top: $size-16;
	}

	@include mq($until: mobile) {
		margin-top: $size-20;
	}
}

.m-obj-media__txt-3 {
	width: 60%;
	display: inline-block;

	@include mq($until: tablet) {
		width: auto;
		display: block;
	}
}

.m-obj-media__txt-4 {
	position: absolute;
	width: 30%;
	top: 18.75%;
	left: 13%;

	@include mq($until: tablet) {
		width: 43%;
		top: 18%;
		left: 12.5%;
	}

	@include mq($until: mobile) {
		width: 45%;
		top: 15%;
		left: 12%;
	}
}

.m-obj-media__txt-4__heading {
	margin-top: $size-10;
	margin-bottom: $size-24;

	@include mq($until: tablet) {
		margin-bottom: 0;
	}

	@include mq($until: mobile) {
		margin-top: $size-12;
	}
}

.m-obj-media__txt-4__button {
	margin-top: 24%;

	@include mq($until: tablet) {
		margin-top: 29%;
	}

	@include mq($until: mobile) {
		margin-top: 27%;
	}
}

.m-obj-media__paragraph {
	margin-top: $size-24;
}

.m-obj-media__paragraph-test {
	display: inherit;
	letter-spacing: $size-10*0.1;

	@include mq($until: tablet) {
		display: none;
	}
}

.m-obj-media__paragraph-test__col-3 {
	padding-left: 20%;
    padding-right: 20%;
}

.m-obj-media__paragraph-lpl {
	margin-top: $size-24;
	letter-spacing: $size-10*0.1;
	line-height: 1.3;

	@include mq($until: tablet) {
		margin-top: -$size-10*0.5;
		line-height: 1.2;
	}

	@include mq($until: mobile) {
		margin-top: 0;
	}
}

.m-obj-media__txt--on-right {
	top: 0;
	width: 42.02%;

	@include mq($until: tablet) {
		width: 40.58%;
	}

	@include mq($until: mobile) {
		width: 48%;
	}
}