.m-cmp-test-close-button {
	display: inline-block;
	cursor: pointer;

    i {
        font-size: $size-34;
        border-radius: 50%;
        border: 3px solid $color-dark-yellow;
        background-color: $color-dark-yellow;
        color: $color-white;
    }

    @include mq($until: mobile) {

    	i {
    		font-size: $size-48;
    	}
    }
}