<article class="o-media  utl-clearfix">

  <div class="o-media__wrapper-1  utl-clearfix">

    <div class="o-media__block  o-media__block-arcl-lies__1">

      <div class="o-media__block  o-media__block-arcl-lies__1__heading">
        {{> molecules-heading-articles-lies }}
      </div>

      <div class="o-media__block  o-media__block-arcl-lies__1__section-1">
        {{> molecules-media-articles-lies-img-321x423-1st }}
      </div>

      <div class="o-media__block  o-media__block-arcl-lies__1__section-2">
        {{> molecules-media-articles-lies-img-320x262-1st }}
      </div>

    </div>

    <div class="o-media__block  o-media__block-arcl-lies__2">
      {{> molecules-media-articles-lies-img-578x473 }}
    </div>

    <div class="o-media__block  o-media__block-arcl-lies__3">

      <div class="o-media__block  o-media__block-arcl-lies__3__section-1">
        {{> molecules-media-articles-lies-img-321x423-2nd }}
      </div>

      <div class="o-media__block  o-media__block-arcl-lies__3__section-2">
        {{> molecules-media-articles-lies-img-320x262-2nd }}
      </div>

    </div>

    <div class="o-media__block  o-media__block-arcl-lies__4">

      <div class="o-media__block  o-media__block-arcl-lies__4__section-1">
        {{> molecules-media-articles-lies-img-320x262-3rd }}
      </div>

      <div class="o-media__block  o-media__block-arcl-lies__4__section-2">
        {{> molecules-media-articles-lies-img-320x262-4th }}
      </div>

    </div>

  </div>

</article>