<div class="t-cmp-nav">{{> organisms-nav }}</div>
<div class="t-cmp-shp-header">{{> organisms-shp-header }}</div>
<div class="t-cmp-article-editors-picks">{{> organisms-article-editors-picks }}</div>
<div class="a-h-line--tmp  t-cmp-shp-line-1  t-cmp-line--no-mob"></div>
<div class="t-cmp-article-latest-news">{{> organisms-article-latest-news }}</div>
<div class="t-cmp-article-renault-qa">{{> organisms-article-renault-qa }}</div>
<div class="t-cmp-shp-article-test-quel-vehicule">{{> organisms-article-test-quel-vehicule }}</div>
<div class="a-h-line--tmp  t-cmp-shp-line-2  t-cmp-line--no-tbl"></div>
<div class="t-cmp-shp-article-les-plus-lus">{{> organisms-article-les-plus-lus }}</div>
<div class="t-cmp-shp-footer">{{> organisms-footer }}</div>