<article class="o-media  utl-clearfix">

  <div class="o-media__wrapper-1  utl-clearfix">

    <div class="o-cmp-resultats-path">
      <p>Acceuil&nbsp;&nbsp;>&nbsp;&nbsp;Search results</p>
    </div>

    <div class="o-cmp-resultats__form">

      <h2 class="a-cmp-heading--2--resultats">Sorry, no results found today for:</h2>

      <form class="o-cmp-resultats__form__field">
        <input class="o-cmp-resultats__form__field__input" type="text" name="search">

        <div class="o-cmp-resultats__form__field__search  utl-inline-block">
          {{> atoms-search-link }}
        </div>
      </form>

    </div>

  </div>

</article>