<article class="o-media">

  <div class="o-media--background">

    <div class="o-media__wrapper-2">

      <div class="o-media__block  o-media__block-4">

        <div class="o-media__block  o-media__block-4-1">
          <div>
            {{> molecules-heading-fan-de-vu }}
          </div>

          <div class="o-media__block-4-1__section">
            {{> molecules-text-fan-de-vu }}
          </div>
        </div>

        <div class="o-media__block-4-2">
          {{> atoms-img-835x510 }}
        </div>

      </div>

    </div>

  </div>

  <div class="o-media--no-background">

    <div class="o-media__wrapper-2">

      <div class="o-media__block  o-media__block-5">

        <div class="o-media__block  o-media__block-5__section">
          {{> molecules-media-fan-de-vu-img-320x262-1st }}
        </div>

        <div class="o-media__block  o-media__block-5__section  o-media__block-5-2">
          {{> molecules-media-fan-de-vu-img-320x262-2nd }}
        </div>

        <div class="o-media__block  o-media__block-5__section  o-media__block-5-3">
          {{> molecules-media-fan-de-vu-img-320x262-3rd }}
        </div>

      </div>

    </div>

  </div>

</article>