<header class="o-media  utl-pos-relative">

	<div class="m-obj-media__img">
		{{> atoms-img-1700x875 }}
	</div>

	<div class="o-media__block  o-media__block-hp-hdr-txt">
		{{> molecules-header-txt }}
	</div>

	<div class="_o-media__block  o-media__block-hp-hdr-ctr">
		<span class="utl-color-dark-yellow">01&nbsp;&nbsp;</span><span class="utl-color-white">/&nbsp;&nbsp;05</span>
	</div>

	<div class="o-media__block  o-media__block-arrow-left">
		{{> atoms-arrow-header-left }}
	</div>

	<div class="o-media__block  o-media__block-arrow-right">
		{{> atoms-arrow-header-right }}
	</div>

</header>