<article class="o-media">

	<div class="o-media__wrapper-1">

		<div class="o-media__block  o-media__block-6">

			<div class="o-media__block  o-media__block-6-1__heading">
				{{> molecules-heading-vu-and-astuces }}
			</div>

			<div class="o-media__block  o-media__block-6-2">

				<div class="o-media__block  o-media__block-6-2-1__section">
					{{> molecules-media-vu-and-astuces-img-321x423-1st }}
				</div>

				<div class="o-media__block  o-media__block-6-2-2__section">
					{{> molecules-media-vu-and-astuces-img-320x262-1st }}
				</div>

			</div>

		</div>

		<div class="o-media__block  o-media__block-7">
			{{> molecules-media-vu-and-astuces-img-578x473 }}
		</div>

		<div class="o-media__block  o-media__block-8">

			<div class="o-media__block  o-media__block-8-1__section">
				{{> molecules-media-vu-and-astuces-img-320x262-2nd }}
			</div>

			<div class="o-media__block  o-media__block-8-2__section">
				{{> molecules-media-vu-and-astuces-img-321x423-2nd }}
			</div>

		</div>

	</div>

</article>