<article class="o-media  o-media--padding-1  utl-margin-auto  utl-clearfix  utl-pos-relative">

	<div class="o-media__block">

		<div class="glb-max-width-320  utl-margin-auto">
			{{> molecules-heading-test-quel-vehicule }}
			<p class="_a-cmp-paragraph  a-cmp-paragraph--default  m-obj-media__paragraph  utl-color-black">{{ media-section-paragraph.fourth }}</p>

			<div class="glb-margin-top-20">
				<a href="" class="a-cmp-button  a-cmp-button--hover  utl-txt-uppercase">Commencer le test</a>
			</div>
		</div>

		<div class="o-media__wrapper  glb-margin-top-60  glb-margin-left-22">
			<div class="o-media__wrapper--margin-correction-1  utl-float-left">
				{{> molecules-media-test-quel-vehicule-362x155 }}
			</div>

			<div class="o-media__wrapper--margin-correction-2  glb-margin-left-95  utl-float-left">
				{{> molecules-media-test-quel-vehicule-352x165 }}
			</div>

			<div class="glb-margin-left-95  utl-float-left">
				{{> molecules-media-test-quel-vehicule-362x188 }}
			</div>
		</div>

		<div class="utl-pos-absolute  utl-pos-top-left  utl-z-index-n1">
			{{> atoms-img-1350x440 }}
		</div>

	</div>

</article>