<article class="o-media  utl-clearfix">

  <div class="o-media__wrapper-1  utl-clearfix">

    <div class="o-media__block  o-media__block-qa-list__heading  o-media__block-qa-list--float-left-tbl-dsk">
      {{> molecules-heading-qa-list }}
    </div>

    <div class="o-media__block  o-media__block-qa-list__1  o-media__block-qa-list--float-right-tbl-dsk  utl-pos-relative">
      <div class="o-media__block-qa-list__background  o-media__block-qa-list__background-1"></div>
      <div class="o-media__block-qa-list__1__sec-1">{{> molecules-media-qa-list-img-284x235-txt-right-1st }}</div>
    </div>

    <div class="o-media__block-qa-list-wrapper">
      <div class="o-media__block  o-media__block-qa-list__2  o-media__block-qa-list--float-left-tbl-dsk  o-media__block-qa-list--float-left-mob  utl-pos-relative">
        <div class="o-media__block-qa-list__background  o-media__block-qa-list__background-2"></div>
        <div class="o-media__block-qa-list__2__sec-1">{{> molecules-media-qa-list-img-284x235-1st }}</div>
      </div>

      <div class="o-media__block  o-media__block-qa-list__2  o-media__block-qa-list__2--middle  o-media__block-qa-list--float-left-tbl-dsk  o-media__block-qa-list--float-right-mob  utl-pos-relative">
        <div class="o-media__block-qa-list__background  o-media__block-qa-list__background-2"></div>
        <div class="o-media__block-qa-list__2__sec-1">{{> molecules-media-qa-list-img-284x235-2nd }}</div>
      </div>

      <div class="o-media__block  o-media__block-qa-list__2  o-media__block-qa-list--float-left-tbl-dsk  o-media__block-qa-list--float-left-mob  utl-pos-relative">
        <div class="o-media__block-qa-list__background  o-media__block-qa-list__background-2"></div>
        <div class="o-media__block-qa-list__2__sec-1">{{> molecules-media-qa-list-img-284x235-3rd }}</div>
      </div>
    </div>

    <div class="o-media__block  o-media__block-qa-list__3  o-media__block-qa-list__3--l1  o-media__block-qa-list--float-left-tbl-dsk  o-media__block-qa-list--float-right-mob  utl-pos-relative">
      <div class="o-media__block-qa-list__background  o-media__block-qa-list__background-1  o-media__block-qa-list__background-1--tbl-dsk"></div>
      <div class="o-media__block-qa-list__background  o-media__block-qa-list__background-2  o-media__block-qa-list__background-2--mob"></div>
      <div class="o-media__block-qa-list__3__sec-1--tbl-dsk">{{> molecules-media-qa-list-img-284x235-txt-right-2nd }}</div>
      <div class="o-media__block-qa-list__3__sec-1--mob">{{> molecules-media-qa-list-img-284x235-4th-mob }}</div>
    </div>

    <div class="o-media__block-qa-list-wrapper">
      <div class="o-media__block  o-media__block-qa-list__2  o-media__block-qa-list--float-left-tbl-dsk  o-media__block-qa-list--float-left-mob  utl-pos-relative">
        <div class="o-media__block-qa-list__background  o-media__block-qa-list__background-2"></div>
        <div class="o-media__block-qa-list__2__sec-1">{{> molecules-media-qa-list-img-284x235-5th }}</div>
      </div>

      <div class="o-media__block  o-media__block-qa-list__2  o-media__block-qa-list__2--middle  o-media__block-qa-list--float-left-tbl-dsk  o-media__block-qa-list--float-right-mob  utl-pos-relative">
        <div class="o-media__block-qa-list__background  o-media__block-qa-list__background-2"></div>
        <div class="o-media__block-qa-list__2__sec-1">{{> molecules-media-qa-list-img-284x235-6th }}</div>
      </div>

      <div class="o-media__block  o-media__block-qa-list__2  o-media__block-qa-list--float-left-tbl-dsk  o-media__block-qa-list--float-left-mob  utl-pos-relative">
        <div class="o-media__block-qa-list__background  o-media__block-qa-list__background-2"></div>
        <div class="o-media__block-qa-list__2__sec-1">{{> molecules-media-qa-list-img-284x235-7th }}</div>
      </div>
    </div>

    <div class="o-media__block  o-media__block-qa-list__3  o-media__block-qa-list__3--l2  o-media__block-qa-list--float-right-tbl-dsk  o-media__block-qa-list--float-right-mob  utl-pos-relative">
      <div class="o-media__block-qa-list__background  o-media__block-qa-list__background-1  o-media__block-qa-list__background-1--tbl-dsk"></div>
      <div class="o-media__block-qa-list__background  o-media__block-qa-list__background-2  o-media__block-qa-list__background-2--mob"></div>
      <div class="o-media__block-qa-list__3__sec-1--tbl-dsk">{{> molecules-media-qa-list-img-284x235-txt-right-3rd }}</div>
      <div class="o-media__block-qa-list__3__sec-1--mob">{{> molecules-media-qa-list-img-284x235-8th-mob }}</div>
    </div>

  </div>

</article>