<section class="m-obj-media">

  <div class="m-obj-media  m-obj-media__img  m-obj-media__img--on-left">
    {{> atoms-img-320x262 }}
    <div class="a-cmp-image-description  a-cmp-image-description--bottom-left-position  utl-txt-uppercase  utl-pos-absolute">{{ img-description.third }}</div>
  </div>

  <div class="m-obj-media__txt--on-right  utl-float-right">
    <h6 class="a-cmp-heading--6">{{ media-section-heading.fourth }}</h6>
    <p class="a-cmp-paragraph  a-cmp-paragraph--default  m-obj-media__paragraph">{{ media-section-paragraph.first }}</p>
  </div>

</section>