<section class="m-obj-media">

  {{> atoms-img-320x262 }}

  <div class="m-obj-media__txt  a-cmp-media-w320">
    <h6 class="a-cmp-heading--6">{{ media-section-heading.fourth }}</h6>
    <p class="a-cmp-paragraph  a-cmp-paragraph--default  m-obj-media__paragraph">{{ media-section-paragraph.first }}</p>
  </div>

</section>