  
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="../../js/slick.js"></script>
  <script type="text/javascript" src="../../js/global-variables.js"></script>
  <script type="text/javascript" src="../../js/main.js"></script>
  <script type="text/javascript" src="../../js/sticky-faq.js"></script>
  <script type="text/javascript" src="../../js/sticky.js"></script>

  </body>
</html>
