  
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="../../js/slick.js"></script>
  <script type="text/javascript" src="../../js/global-variables.js"></script>
  <script type="text/javascript" src="../../js/menu-drop-down.js"></script>
  <script type="text/javascript" src="../../js/menu-tbl-mobile.js"></script>
  <script type="text/javascript" src="../../js/search.js"></script>
  <script type="text/javascript" src="../../js/arrow.js"></script>
  <script type="text/javascript" src="../../js/lpl-carousel.js"></script>
  <script type="text/javascript" src="../../js/header-carousel.js"></script>
  <script type="text/javascript" src="../../js/renault-qa-carousel.js"></script>
  <script type="text/javascript" src="../../js/foire-carousel.js"></script>
  <script type="text/javascript" src="../../js/cote-b-carousel.js"></script>
  <script type="text/javascript" src="../../js/header-article-carousel.js"></script>
  <script type="text/javascript" src="../../js/diaporama-module-carousel.js"></script>
  <script type="text/javascript" src="../../js/enrichi-carousel.js"></script>
  <script type="text/javascript" src="../../js/faq-reader.js"></script>
  <script type="text/javascript" src="../../js/psy-test.js"></script>

  </body>
</html>
