<article class="o-media  utl-clearfix">

  <div class="o-media__wrapper-1  utl-clearfix">

    <div class="utl-clearfix">

      <div class="o-media__block  o-media__block-12">
        {{> molecules-heading-cote-business }}
      </div>

      <div class="o-media__block  o-media__block-13">

        <div class="o-media__block  o-media__block-13-1__section">
          {{> molecules-media-cote-business-img-320x262-1st }}
        </div>

        <div class="o-media__block  o-media__block-13-2__section">
          {{> molecules-media-cote-business-img-321x423-1st }}
        </div>

      </div>

      <div class="o-media__block  o-media__block-14">

        <div class="o-media__block  o-media__block-14-1__section">
          {{> molecules-media-cote-business-img-321x423-2nd }}
        </div>

        <div class="o-media__block  o-media__block-14-2__section">
          {{> molecules-media-cote-business-img-320x262-2nd }}
        </div>

      </div>

    </div>

    <div class="o-media__block  o-media__block-15">

      <div class="o-media__block  o-media__block-15-1__section">
        {{> molecules-media-cote-business-img-320x262-3rd }}
      </div>

      <div class="o-media__block  o-media__block-15-2__section">
        {{> molecules-media-cote-business-img-320x262-4th }}
      </div>

    </div>

    <div class="o-media__block  o-media__block-16">
      {{> molecules-media-cote-business-portrait }}
    </div>

  </div>

</article>